[2020-02-07 17:37] Remi-Gau opened #6 "Contact page"

[2020-02-07 17:37] Remi-Gau opened #7 "Venue page"
- [x] add an issue to describe how to make a pull request to add an image.
- [x] review it
- [x] get some alpha and beta testers

[2020-02-07 17:37] Remi-Gau opened #8 "Landing page"
- [ ] display or add link to the editable / crowd source google map for the event with nice cafés and things to visit?
- [ ] add other teams
  - [ ] local helpers
  - [ ] non-local helpers

[2020-02-07 17:37] Remi-Gau opened #9 "Sponsors page"
- logos
  - [x] OSSIG
  - [x] OHBM
  - [x] openneuro
  - [x] INCF
  - [x] QBIN
  - [ ] child mind instittue
  - [ ] ludmer

[2020-02-07 17:37] Remi-Gau opened #10 "Blog"
- [ ] Call to volunteers
- [ ] We are going "global"

[2020-02-07 17:37] Remi-Gau opened #11 "Hacktrack page"

[2020-02-07 17:38] Remi-Gau opened #12 "Registration page"

[2020-02-07 17:38] Remi-Gau opened #13 "Traintrack page"
For reference: https://rnet-my.sharepoint.cn/:x:/g/personal/info_rnet_partner_onmschina_cn/EQRaQXQuwqJJirODtJzXPy0BCSRp1S6jPnipzZ8v5Cc9Dg?rtime=FsBNfnUL2Eg

- [x] convert current Speakers page to a TrainTrack page
- [x] populate TrainTrack page with images of instructors + links to resources/materials as they become available
- [x] organize asking questions asynchronously (google doc, followed up

[2020-02-07 17:38] Remi-Gau opened #14 "OSR page"

[2020-02-07 17:38] Remi-Gau opened #15 "Code of conduct page"
- [x] improve layout

[2020-02-10 21:48] Remi-Gau opened #18 "Logistics page"
- [ ] change content to be about Montreal
- [ ] the message in the tab is about a google event

[2020-02-11 04:34] llevitis opened #19 "Schedule page for HackTrack & TrainTrack"
- [x] Add columns for TrainTrack & HackTrack
- [x] Replicate schedule from 2018 or 2019 for now

[2020-02-11 12:00] Remi-Gau opened #21 "General"
- [x] change logo that appears in browser tab, navbar and footer
- [x] twitter handle
- [x] hashtag
- [x] add a dedicated image to each page
- [x] change the banner "unconference talk" banner that appears when scrolling down
- [x] create labels for the different projects types in issues
- [x] create a project issue template
- [x] use images from https://undraw.co/illustrations
- [x] registration a

[2020-02-11 12:38] Remi-Gau opened #22 "Team"
- [x] update the about us
- [x] debug layout: Organizers: name and role are not fully displayed if they take three lines or more
- [x] add brainhack global team
- [x] add teams from each hub

[2020-03-06 16:34] sofievdbos commented on #22
- [ ] debug layout:
_Organizers_: name and role are not fully displayed if they take three lines or more

[2020-03-06 16:38] sofievdbos commented on #21
- [ ] logo is not well visible when displayed on a "busy" banner (e.g. Schedule and Hackathon)

[2020-03-06 16:39] sofievdbos commented on #15
- [ ] layout: make the titles smaller

[2020-03-06 16:40] sofievdbos opened #30 "Distributed page"

[2020-03-13 12:54] #14 closed

[2020-03-13 12:54] Remi-Gau opened #35 "FAQ page"

[2020-03-13 12:55] #35 closed

[2020-03-13 12:58] #11 closed

[2020-03-13 13:02] Remi-Gau commented on #30
@sofievdbos you are working on this, right?

[2020-03-13 13:07] sofievdbos commented on #30
@Remi-Gau That was the idea; but I haven't created the online page yet; just adapted the Google Drive document. Should I start creating the page; or should I wait on an update wrt to the new format due to COVID-19?

[2020-03-13 13:19] Remi-Gau commented on #30
Yes it makes sense to wait. I was just trying to assign certain tasks to certain people. :-)

[2020-03-13 13:32] sofievdbos commented on #30
Then feel free to assign this to me; and we will see how we can proceed when we have some more clarity. :-)

[2020-04-26 23:02] llevitis opened #37 "Logistics page"
Content that the Logistics page should now display (some of the content might be redundant across this page and the FAQ:

- [x] Hub information - (hub hosts, time-zones)
- [x] Platforms : Crowdcast, Mattermost
- [x] HackTrack: Project submission
- [x] TrainTrack : general computing requirements, required software
- [ ] Whom to contact on the os sig team and the local hub hosts? (going into FAQ and

[2020-04-29 15:45] llevitis commented on #22
working on the "about us" fix here: https://github.com/llevitis/hackathon2020/tree/2020_04_21_update_to_virtual_event

[2020-04-29 15:45] llevitis commented on #6
let's just incorporate contact info into logistics page

[2020-04-29 15:46] llevitis commented on #12
this is being taken care of by OHBM

[2020-04-29 15:46] #12 closed

[2020-04-29 15:46] #8 closed

[2020-04-29 15:46] #9 closed

[2020-04-29 16:36] llevitis commented on #15
addressed by https://github.com/ohbm/hackathon2020/pull/39

[2020-04-30 17:51] Remi-Gau opened #41 "website can't be loaded in China"
from mattermost chat:

For the hackathon website, I'm hoping we can make it work as it's based on github pages (and those are not 'banned' from China).
Can you think of  any specific tool/service you are currently using (in addition to Github pages) that could be the root cause of that inaccessibility?

![Image Pasted at 2020-4-30 13-49](https://user-images.githubusercontent.com/6961185/80742594-e

[2020-05-01 13:00] Remi-Gau opened #42 "favicon not displaying"
serving locally gives
[code]
I think this can be fixed in the `_includes/head.html` file

[2020-05-01 13:04] #15 closed

[2020-05-01 16:52] #18 closed

[2020-05-02 20:50] llevitis commented on #37
@cmaumet - please let me know if you have any thoughts on this as well :)

[2020-05-03 19:22] cmaumet commented on #37
This looks good to me! Maybe rather than "project template" we could add info about "project submission" (that would include the project template in the end but be a bit more general).

About the Traintrack content will that be in crowdcast? Or do you mean something else?

Maybe info on how to help (if that's not somewhere else) unless we don't want this to be public (maybe by email is better to m

[2020-05-04 12:28] llevitis commented on #37
Thanks @cmaumet ! I started working on the content in this PR which is currently a draft - https://github.com/ohbm/hackathon2020/pull/40

[2020-05-04 22:13] Remi-Gau commented on #41
Seems that trying to fix this messed up  the display of the our "roles" on the team card:

They are supposed to look like that but do not in the master branch anymore.

![team_details](https://user-images.githubusercontent.com/6961185/81018592-244ba600-8e65-11ea-9645-72da411ef132.png)

[2020-05-05 00:50] llevitis opened #44 "Create figure for logistics page similar to the one made by OSR"

[2020-05-05 07:13] Remi-Gau opened #45 "Refactor the "about us" section"
I suggest moving tall the actual content from the config.yml fileto the actual page, because at this level we are writing html code in the cofing.yml file and I see no good reason to do that.

[2020-05-05 20:16] Remi-Gau commented on #19
Did you have any ideas in mind for the schedule page?

As a beginning (for the site launch) should we have what the "general schedule" will look like and a link to the google sheet with how everything is split in each time zone?

[2020-05-05 20:16] #30 closed

[2020-05-07 16:07] Remi-Gau opened #50 "sponsors"
CNeuroMod and INCF are confirmed "hackathon champions"

Would be good more generally to include all OS-SIG sponsors.

This would mean openneuro as well.

[2020-05-08 12:43] Remi-Gau opened #51 "Project template: mention all-contributors bot"

[2020-05-08 13:45] #42 closed

[2020-05-08 13:55] Remi-Gau opened #53 "font difference between firefox and google chrome"
not a bug

[2020-05-09 07:15] #19 closed

[2020-05-10 20:54] #45 closed

[2020-05-10 20:54] #10 closed

[2020-05-11 02:37] #37 closed

[2020-05-11 08:03] Remi-Gau opened #62 "small responsive issue with navbar"
this happens when the screen width get in the 970 pixel range
![Screenshot 2020-05-11 10:01:51](https://user-images.githubusercontent.com/6961185/81538107-8c6f2000-936e-11ea-8821-95ab83b6a55b.png)

[2020-05-11 14:34] Remi-Gau opened #64 ":star: How to a add your own image to the venue page :star:"
:smile: So you want to contribute an image to the venue page of the OHBM 2020 brainhack. :smile:

You will have to add file of your image to the [`img/venue` folder](https://github.com/ohbm/hackathon2020/tree/master/img/venue) and modify the file [`_data/venue.yml`](https://github.com/ohbm/hackathon2020/blob/master/_data/venue.yml).

So here are the steps you need to do to make a pull request to d

[2020-05-15 13:16] #50 closed

[2020-05-15 19:59] Remi-Gau opened #73 "update sponsors with neuromod"
to match OSSIG website
https://ossig.netlify.app/sponsors/

[2020-05-25 22:17] alecrimi opened #84 "Tracktools"
*To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉*

*We have prepared a checklist to help with project submission. Here is how to proceed:*
 1. *Fill in the main information about your project below*
 2. *Sub

[2020-05-26 04:23] NiftyTorch opened #85 "BIDS to NiftyTorch: data preparation for deep learning"
*To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉*

*We have prepared a checklist to help with project submission. Here is how to proceed:*
 1. *Fill in the main information about your project below*
 2. *Sub

[2020-05-26 06:14] #73 closed

[2020-05-26 17:14] #6 closed

[2020-05-27 10:18] Remi-Gau opened #90 "Procedure to add submitted projects on the website"
Since we are starting to get some projects I was wondering when we should start putting them on the website.

Should I wait for a green light from the project advisor team?

@cmaumet @anibalsolon @complexbrains

[2020-05-27 17:51] Remi-Gau commented on #90
Also this is the content of what will be shown about each project on the website.

Let me know if you think something else should be added.

[code]

[2020-05-28 18:11] complexbrains commented on #90
I guess as a summary this template looks alright, given they will be giving all the necessary details on their issue. One thing before we review the submitted projects, is there any chance that we can at least get the names of the registrants somewhere in the shared drive so we can check whether the project owner registered or not? So we move on from there.

[2020-05-29 09:48] #51 closed

[2020-05-29 09:52] Remi-Gau opened #93 "Add contributors"
Will use the all contributors bot to add contributors to the readme file.

This might open a large number of PR so don't panic.

[2020-05-29 09:55] Remi-Gau commented on #93
@all-contributors please add @llevitis for code content doc design eventOrganizing ideas infra maintenance review projectManagement

[2020-05-29 09:56] Remi-Gau commented on #93
@all-contributors please add @cmaumet  for code content doc design eventOrganizing ideas infra maintenance review projectManagement

[2020-05-29 09:56] Remi-Gau commented on #93
@all-contributors please add @Remi-Gau  for code content doc design eventOrganizing ideas infra maintenance review projectManagement

[2020-05-29 09:58] Remi-Gau commented on #93
@all-contributors please add @complexbrains for content doc ideas review

[2020-05-29 10:00] Remi-Gau commented on #93
@all-contributors please add @gkiar for code design

[2020-05-29 10:01] Remi-Gau commented on #93
@all-contributors please add @sofievdbos  for content doc ideas review

[2020-05-29 10:02] Remi-Gau commented on #93
@all-contributors please add @jhlegarreta  for content doc ideas review

[2020-05-29 13:32] cmaumet opened #101 "Schedule is off by 1 hour"
I think the schedule we have in: https://ohbm.github.io/hackathon2020/schedule/ is currently off by 1 hour compared to what we have planned for the hubs. The times displayed correspond to Beijing/Denver/Paris timezone (not Bankgok/LA/London as indicated).

Shall we change the times (alternative is changing the cities)

[2020-05-29 21:21] claudebajada opened #102 "VB Index BIDS support / Pretty GUI"
*To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉*

*We have prepared a checklist to help with project submission. Here is how to proceed:*
 1. *Fill in the main information about your project below*
 2. *Sub

[2020-05-30 12:33] cmaumet commented on #85
Hi @NiftyTorch! Thanks for your submission. It looks like your project is ready for review, are you happy for me to mark it as such? Thanks!

[2020-05-31 00:40] NiftyTorch commented on #85
Hi @cmaumet, thanks for your comment and thanks for organizing this effort.
Yes please mark it as ready for review.

[2020-06-01 19:48] manojneuro opened #109 "Learn and Enhance BrainIAK Tutorials: From Basics to Advanced fMRI Analyses"
----------------------------
## Project info

**Title**:
Learn and Enhance BrainIAK Tutorials: From Basics to Advanced fMRI Analyses

**Project lead**:
Manoj Kumar @manojneuro

**Project Collaborators**:
Cameron T. Ellis @CameronTEllis,  Qihong Lu @qihongl, Mihai Capota @mihaic, and Sam Nastase @snastase

**[Timezone](https://github.com/ohbm/hackathon2020/blob/master/.github/ISSUE_TEMPLATE/handboo

[2020-06-01 21:20] cmaumet commented on #41
I think this looks good on my end (i.e. hovering does display the role). Can we close this issue or am I missing something here? Thanks!

[2020-06-02 07:58] Remi-Gau commented on #41
Yes this is fixed. Some small issues are still bugging my inner OCD but he (because it has to be a dude) is not back from the hike I sent him on. So We will live with it.

[2020-06-02 07:58] #41 closed

[2020-06-03 03:30] llevitis commented on #90
i've added a kanban board for this as per mine, @Remi-Gau and @cmaumet convo today :)

[2020-06-03 03:32] Remi-Gau commented on #90
Haha This is a late shift for you and an early one for me.

[2020-06-03 10:24] Remi-Gau commented on #84
@alecrimi sorry for being slow on getting back to you on this.

I cleaned up your submission a bit.

- could you open 2 issues on your repo (https://github.com/alecrimi/tracktools/issues) that you would label as  "good first issue" and give a brief description of what those goals would entail for the hackathon.
- have you created a mattermost and jitsi channel?

[2020-06-03 14:12] Remi-Gau commented on #101
We need to cross check that with #110

[2020-06-03 14:12] #44 closed

[2020-06-03 16:18] Remi-Gau commented on #93
hey @DorienHuijser
I will let you use the all contributors bot to add yourself automatically to the website contributor on the README.

Pasting the following message in an issue should do it. Scroll above to see how it works. :-)

[code]

[2020-06-03 16:33] DorienHuijser commented on #93
@all-contributors please add @DorienHuijser for code infra maintenance review

[2020-06-03 16:56] Remi-Gau opened #119 "Small layout issue on the team page: not all info are displayed"
When there is too much text in the "location", it forces the social media icons out of the frame.

Not a big issue but if someone finds the time to troubleshoot this.

![Screenshot 2020-06-03 18:52:06](https://user-images.githubusercontent.com/6961185/83665457-bc0af400-a5cb-11ea-852f-7b3664a711f6.png)

[2020-06-03 17:03] jastiso opened #120 "Tools for Combating Citation Bias"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-03 17:22] Remi-Gau commented on #102
hey @claudebajada

I have cleaned up the submission a bit as we were updating our submission template to make easier to user and read. Double check that I have not messed up anything.

2 things you could already add:
- what skills you would prefer people to have to join for your project
- set up a chat channel and the link (it could be on mattermost or somewhere else)

I added the `python` and `BI

[2020-06-03 17:36] Remi-Gau commented on #120
hey @jastiso

Looks like an awesome project. <3

I updated the goals for the hackathon based on project description. Double check that it is OK with you.

If you can try to add 2 "good first issue" to your repo to better describe what your plans for new comers.

Let me know if you need help to set up a mattermost chat channel.

Will add some labels to your issue. Double check that I am not missing

[2020-06-03 23:02] ofgulban opened #124 "Wacky brain explosions Vol II."
**Title**:
Wacky brain explosions Vol II.
![mind_explosion_inv](https://user-images.githubusercontent.com/4668327/83697079-52f0a400-a5fe-11ea-86ec-4029296012fa.gif)

**Project lead**:
@ofgulban - [Omer Faruk Gulban](http://orcid.org/0000-0001-7761-3727)

**Timezone**:
Late Europe to Americas timezone.

**Hub**:
Europe, Middle East and Africa (but I can only work on this project in the evening/nigh

[2020-06-04 06:41] Remi-Gau commented on #124
hey @ofgulban

Glad to see that you are furthering your pioneering work in brainexplosology.

This looks good to me.

Added some labels on this. Double check that you are ok with those and if there are not others that should be added in our long list

[2020-06-04 07:44] Remi-Gau commented on #124
@DorienHuijser I think this can definitely go on the website. :smile:

[2020-06-04 08:03] DorienHuijser commented on #124
@Remi-Gau project does not appear on the [board](https://github.com/ohbm/hackathon2020/projects/4) but has been added (see pull request #125)

[2020-06-04 08:11] Remi-Gau commented on #124
Thanks @DorienHuijser
Doing github stuff before my second coffee is the best way to make sure i forget about my own workflow.

[2020-06-04 10:04] ofgulban commented on #124
Thanks @Remi-Gau , the labels look good to me :).
And thanks @DorienHuijser for taking care of the board issue.

[2020-06-04 13:27] Remi-Gau commented on #101
@cmaumet forgot to check that one.

[2020-06-04 13:36] cmaumet commented on #101
I think this is still off by 1 hour compared to [our hub schematic](https://docs.google.com/spreadsheets/d/1IwMFfrNV8nuF8m3rLVspwtAVzqcLU6FybkAtp28Lhfk/edit#gid=1670357951): e.g. Beijing intro is at 9am on the sheet and 10am on the website.

[2020-06-04 15:50] Remi-Gau commented on #90
Copy paste from a mattermost convo:

- Project monitors from a given hub takes in charge new project from that hub as they arrive. Project monitor teams self manages the project reviewing allocation. Ideally a cross-check by another reviewer would be nice.
- Once the project passes the minimum standard (not sure about the "open 2 github issues" one), project monitor pings the web team to add the p

[2020-06-04 18:56] jcohenadad opened #128 "shimming-toolbox: Ecosystem for real-time shimming with MRI"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-05 08:58] #62 closed

[2020-06-05 09:30] Remi-Gau commented on #93
@all-contributors please add @anibalsolon for code doc design ideas maintenance

[2020-06-05 09:31] Remi-Gau commented on #93
@all-contributors please add @crohr for code design maintenance

[2020-06-05 09:43] Remi-Gau commented on #85
Hey @NiftyTorch
We are also "advertising" the projects on our [website](https://ohbm.github.io/hackathon2020/hackathon/).
Let us know if there is an image you would like us to use for yours. :-)

The one from your github organization ?

https://avatars3.githubusercontent.com/u/65201334?s=400&u=e054ce05e175aad5e13f843d7af4d6d2b0c2c0c6&v=4

[2020-06-05 09:43] Remi-Gau commented on #102
Hey @claudebajada
We are also "advertising" the projects on our website.
https://ohbm.github.io/hackathon2020/hackathon/
Let us know if there is an image you would like us to use for yours. :-)

[2020-06-05 09:45] Remi-Gau commented on #109
Hey @manojneuro
We are also "advertising" the projects on our website.
https://ohbm.github.io/hackathon2020/hackathon/
Let us know if there is an image you would like us to use for yours. :-)

The one from the BrainIAK github organization?

[2020-06-05 09:45] Remi-Gau commented on #120
Hey @jastiso
We are also "advertising" the projects on our website.
https://ohbm.github.io/hackathon2020/hackathon/
Let us know if there is an image you would like us to use for yours. :-)

[2020-06-05 09:53] Remi-Gau commented on #124
@ofgulban

Given your schedule, would you prefer to pitch your project on the Americas hub schedule?

[2020-06-05 12:55] jastiso commented on #120
Yeah definitely, you can use this image (attached).

I'm hoping to add the first issues some time today

Best,
Jeni

On Fri, Jun 5, 2020 at 5:46 AM Remi Gau <notifications@github.com> wrote:

--
*Jennifer Stiso*
University of Pennsylvania | Biomedical Graduate Studies
PhD Candidate in Neuroscience

[2020-06-05 13:15] malvikasharan opened #132 "Add welcome bot to this repo"
## Summary

- Using behavior bot for welcome messages: https://github.com/apps/welcome

## What needs to be done:

- Using the behavior bot for your project would require configuring the master branch see here: https://github.com/apps/welcome
- I will create a config file for Welcome bot in the .github folder of this repo in a PR

## Who can help

- One admin or writer of this GitHub account will

[2020-06-05 13:18] Remi-Gau commented on #132
Hey @malvikasharan

Thank you a 10 0000 0000 00000 00000 times (as @cmaumet would say) for looking into this.

[2020-06-05 13:22] Remi-Gau commented on #132
I installed the bot for this repo.

So there is that.

[2020-06-05 13:26] KirstieJane commented on #132
Thanks @malvikasharan - tagging @Remi-Gau because he and I discussed this earlier today. Folks can see the welcome bot in action at the Turing Way repo:

* First issue: https://github.com/alan-turing-institute/the-turing-way/issues/1200#issuecomment-638940153
* First PR: https://github.com/alan-turing-institute/the-turing-way/pull/1194#issuecomment-637745394
* Merged PR: https://github.com/alan-tu

[2020-06-05 13:27] KirstieJane commented on #132
Oh lolz - I took so long finding those links the world moved on.

I told you I was now too old and mostly unhelpful 😆

[2020-06-05 13:29] Remi-Gau commented on #132
:laughing:

I think the issue is more that I am **constantly** (too much) monitoring things transiting through this repo. So...

[2020-06-05 14:31] manojneuro commented on #109
@Remi-Gau thanks for your updates. For designating a hub, I had listed my geographic location, but people from any part of the world are welcome to work with these materials. I will schedule meetings across multiple time-zones to provide wide coverage to the project participants.

[2020-06-05 14:32] manojneuro commented on #109
Yes. That would be great.

[2020-06-05 14:43] Remi-Gau commented on #109
Wow. That's dedication. I love it.

Make sure that you get enough sleep though.

Let's keep you on the Americas hub for now but I will check with the rest of the team to see what their take is.

[2020-06-05 14:47] Remi-Gau commented on #109
Just realized that if you want to cover all hubs, you might want to "record" your project pitch in advance unless you can find another project leader in the other hubs to pitch the project.

[2020-06-05 15:01] claudebajada commented on #102
How about one of these two?

![VBI_24_REST1](https://user-images.githubusercontent.com/16142659/83891905-2e0b4680-a74e-11ea-94f9-dde528f69407.png)
![VBIndex](https://user-images.githubusercontent.com/16142659/83891915-306da080-a74e-11ea-9a94-7f999330d990.png)

[2020-06-05 15:05] ofgulban commented on #124
@Remi-Gau , yes pitching on the Americas hub schedule would be more convenient for me. Thanks.

[2020-06-05 17:45] Remi-Gau commented on #124
OK will inform the Americas hub team.

[2020-06-05 17:51] Remi-Gau commented on #102
:heart_eyes:

Will test them and pick one.

Feel free to complain about my choice. :wink:

[2020-06-05 19:04] NiftyTorch commented on #85
Thanks @Remi-Gau . That would be great. Yes that photo is fine.
Thank you

[2020-06-05 19:37] #22 closed

[2020-06-05 19:45] Remi-Gau commented on #85
Okidoki.
Will update.

[2020-06-06 07:12] #21 closed

[2020-06-06 14:37] johalgermissen opened #139 "Mapping the parameter space in EEG/MEG analyses"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-07 01:08] llevitis commented on #128
Hi @jcohenadad - thanks so much for adding this project :)
We're advertising the projects on the hackathon website (https://ohbm.github.io/hackathon2020/hackathon/) - is there an image that you would like us to use for your project?

[2020-06-07 01:44] jcohenadad commented on #128
@llevitis thank you so much for the quick review-- yes, definitely! we will add an image within the next 1-2 days.

[2020-06-07 13:52] JacobCWBillings opened #140 "Vector Embeddings of Brain Dynamics"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-07 15:54] #132 closed

[2020-06-07 15:55] Remi-Gau commented on #93
@all-contributors please add @malvikasharan for infra ideas

[2020-06-07 19:48] anibalsolon commented on #140
Hi @JacobCWBillings

The project seems exciting! Thank you for submitting it.

If you could please try to delineate the current issue and add one more, so for the newcomers. And put them on your project board 👌

Please, let us know if you need a hand on setting up the communication channels. @complexbrains added some labels too, take a look if they are enough to cover your project.

One more thing

[2020-06-07 21:21] soniajoseph opened #143 "Hopfield Network Library"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-07 21:26] soniajoseph commented on #143
What is a Mattermost channel? Do I have to fill out the chat and video channels yet?

[2020-06-07 21:33] Remi-Gau commented on #143
Sorry about that meant to leave a comment about mattermost channels but I see that the comment is not there anymore.

Feel free to reach out if you have questions. :smile:

[2020-06-07 21:46] soniajoseph commented on #143
Yeah, I saw the clarification in the checklist! Thanks, will do.

[2020-06-08 10:02] #101 closed

[2020-06-08 12:44] johalgermissen commented on #139
hi @ohbm/project-monitors: My project is ready!
(will add a picture and text for the brainhack webpage later today)

[2020-06-08 16:47] johalgermissen commented on #139
Filed pull request to add picture and adapted text o brainhack webpage

[2020-06-08 17:08] Remi-Gau commented on #139
hey @johalgermissen
Thanks for that.
I have just sent you a PR on top of that to fix a small indent issue in the yml file. If you merge it it should update this PR.

[2020-06-09 07:29] LeonieBorne opened #149 "Tutorial for cross decomposition algorithms (e.g. CCA, PLS) in Python"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-09 08:30] htwangtw commented on #149
Hey I am the first author of the referenced paper. I will be at brainhack (Europe time zone) and can help if it's needed.

[2020-06-09 11:51] complexbrains commented on #149
Dear @LeonieBorne, thank you very much for submitting your exciting project!

We are going through the review process at the moment, but before that we were wondering would you like to provide us a project snippet that we can use it in advertising your project on the OHBM website https://ohbm.github.io/hackathon2020/hackathon/, please?

Thank you very much in advance!

[2020-06-09 14:38] Remi-Gau commented on #132
@malvikasharan you're gonna laugh

Apparently I must have messed up the set up of the bot on the Repo side because this ain't working.

:unamused:

#IHadOneJobAndIMessedItUp

[2020-06-09 20:38] llevitis commented on #93
@all-contributors please add @robertoostenveld for code doc

[2020-06-09 20:45] Remi-Gau commented on #139
I will be following this project for the @ohbm/hack2020-social_media

[2020-06-09 23:27] malvikasharan commented on #132
This has happened before. can I send some PR after investigating the config file? (they dislike some empty spaces in there.

[2020-06-10 03:22] pradau opened #153 "Immersive environment for extending neurofeedback and biofeedback to treat children with ADHD or anxiety"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-10 06:12] Remi-Gau commented on #132
Of course you can. :smiley:

But I was wondering if I forgot to do something when setting things up.

The [doc](https://github.com/apps/welcome) says:

[code]

And I have checked in several places but could not find where to set those permission levels.

[2020-06-10 06:26] Remi-Gau commented on #132
OK it seems that I have nothing to do to set those permissions AFAICT.

But there might be an indent problem on this [line](https://github.com/ohbm/hackathon2020/blob/6d0ce519b9c2d6eef8eddbd0ddec3b418ed631a2/.github/ISSUE_TEMPLATE/config.yml#L13)

Could that be it?

[2020-06-10 06:34] Remi-Gau commented on #84
hey @alecrimi I will be following this project for @ohbm/hack2020-social_media

[2020-06-10 07:31] LeonieBorne commented on #149
@htwangtw That's awesome! It's definitely gonna be helpful to have an expert opinion :)

@complexbrains Thanks for supporting my project! But I'm not sure I understand what you need: is the description I provided too long or do you need a picture to illustrate the project?

[2020-06-10 07:51] DorienHuijser commented on #149
Hi @LeonieBorne,@complexbrains meant an image that will accompany your project description on the website 😄

[2020-06-10 10:11] adswa opened #156 "git-annex special remote for the open science framework"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-10 10:35] Lestropie commented on #84
Hi @alecrimi,

Couple of existing tools to have a quick look at / think about in this context:

- @blezek wrote some export file formats for *MRtrix3*'s [`tckconvert`](https://mrtrix.readthedocs.io/en/latest/reference/commands/tckconvert.html#tckconvert) command, at least one of which I'm sure was intended for 3D printing.

- Another approach that might work for 3D printing, specifically of extrac

[2020-06-10 11:40] Remi-Gau commented on #156
hey @adswa
this looks great and super useful.
I added some labels to this issue.
make sure you are fine with those or if you want to change or add more.
I guessed that a minimimal knowledge of got was needed.

[2020-06-10 11:41] Remi-Gau commented on #153
hey @pradau
I added some labels to this issue. Feel free to change that or add more.

[2020-06-10 11:42] Remi-Gau commented on #153
Also let us know if there is an image for this project we can use for the website.

[2020-06-10 11:42] Remi-Gau commented on #156
Also let us know if there is an image for this project we can use for the website. :-)

[2020-06-10 11:46] Remi-Gau commented on #143
hey @soniajoseph :wave:

Would there be an image for this project we could for the website. :sparkles:

https://ohbm.github.io/hackathon2020/hackathon/

Thanks. :pray:

[2020-06-10 12:52] nbeliy opened #158 "Bidsme -- bidsifier for multimodal datasets"
## Project info

**Title**:

bidsme

**Project lead**:

Nikita Beliy, @nbeliy

**[Timezone](https://github.com/ohbm/hackathon2020/blob/master/.github/ISSUE_TEMPLATE/handbooks/projects.md#timezone)**:

UTC+2, Bussels

**Hub**:

Europe, Middle East and Africa

**Description**:

One of the great ideas behind BIDS is unification of various modalities in the same dataset, sharing common metadata and pr

[2020-06-10 16:31] matteomancini opened #162 "TRAMPOLINO: the Swiss Army Knife for tractography"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-11 01:41] soniajoseph commented on #143
This one is representative
http://www.asimovinstitute.org/wp-content/uploads/2016/09/hn.png

On Wed, Jun 10, 2020 at 4:46 AM Remi Gau <notifications@github.com> wrote:

--
Sonia Joseph
Computer Science
Computational Neuroscience
Princeton University
soniajoseph.github.io

[2020-06-11 03:53] Remi-Gau commented on #143
Thanks !!!

@DorienHuijser can I let you update the project. :pray:

[2020-06-11 06:33] LeonieBorne commented on #149
Thanks @DorienHuijser! I don't have a specific image in mind for the project, is a standard image like this one suitable? I got it from [giphy.com](https://giphy.com/gifs/ducsQFMyHcdiTeIcuD)

![giphy3](https://user-images.githubusercontent.com/19991748/84352068-fbef5e00-abff-11ea-9df4-3a705dfffb29.gif)

[2020-06-11 06:43] Remi-Gau opened #165 "Responsive design venue page cuts off images"
@anibalsolon **if you have time** do you think we could have a look into the responsive design of the venue page?

See discussion at the end of the PR #164

It seems that the way I have designed this crops things pretty heavily on some screen widths.

The code is in:

`/_includes/venue.html`

[2020-06-11 08:09] alexandreroutier opened #166 "Neuroimaging tutorials and resources: A list of tutorials and other resources useful to learn open science and neuroimaging"
**Title**:
[Neuroimaging tutorials and resources](https://learn-neuroimaging.github.io/tutorials-and-resources/): A list of tutorials and other resources useful to learn open science and neuroimaging

![LearnNeuroimaging](https://user-images.githubusercontent.com/6297454/47931389-f6cc1800-dece-11e8-9169-0477c9400733.gif)

**Project lead**:
Alexandre Routier (@alexandreroutier)
(We may have a co-le

[2020-06-11 08:53] matteomancini commented on #162
HI @llevitis thanks for the feedback! I just updated the Mattermost channel name following @Remi-Gau advice. I have a question: I noticed only after submitting that at least one of the skills should be a non-coding one. Would "experience with the command line" be considered as non-coding? If it is the case, I will add it, because someone willing to just test stuff and write documentation would be

[2020-06-11 11:49] ufangYang commented on #166
Hi Alexandr, Im Yu-Fang who is taking care of your project for the @ohbm/hack2020-social_media

[2020-06-11 11:59] ufangYang commented on #166
hi @alexandreroutier  let us know if there is an image for this project we can use for the website. :-) cheers!

[2020-06-11 13:28] Remi-Gau opened #168 "Add hub labels on the hackathon page"
- possibly sort the projects by hub

[2020-06-11 14:17] SaraMorsy commented on #149
Wow, I like this project and want to enroll during Hackathon, the paper is very good. Does it need a high-level of experience in python Dr @LeonieBorne

[2020-06-11 14:42] Naubody commented on #162
Hi @matteomancini, very cool project! I'm Matthias and I will make sure your work will be communicated on Twitter ;-)

[2020-06-11 14:51] DorienHuijser commented on #149
@LeonieBorne Of course! I will include it in the next website update :)

[2020-06-11 20:10] em-blue commented on #166
@alexandreroutier happy to help - I have some favourite resources

[2020-06-11 20:27] raamana opened #171 "Python library to handle confounds/covariates"
----------------------------
## Project info

Python library to handle confounds/covariates

**Title**:
Confouds

**Project lead**:
Pradeep Reddy Raamana, @raamana

**[Timezone]
UTC-4

**Hub**:
The Americas

**Description**:
Develop a python library of methods to handle confounds in various neuroscientific analyses, esp. statistics and predictive modeling

**Link to project**:
github.com/raamana/c

[2020-06-12 00:26] zuoxinian opened #173 "3R-BRAIN"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-12 00:47] llevitis commented on #171
Hi @raamana! Thanks for adding this project and for being so thorough with the checklist and providing an image to use for publicizing the project :D

[2020-06-12 01:07] AKSoo commented on #149
Hello! I have also been interested in applying CCA to datasets, and I am in APAC time zone. We should aim to make a Jupyter book ([Neurolibre](https://www.neurolibre.com/) examples) for this tutorial!

Do you already have some datasets in mind to showcase in the tutorial? If not, I could start brainstorming for some on OpenNeuro.

[2020-06-12 01:33] raamana commented on #171
you're welcome Liza. I know you guys are already quite overwhelmed.

[2020-06-12 02:38] sina-mansour opened #174 "Prediction of age and intelligence, a basic machine learning model"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-12 07:07] LeonieBorne commented on #149
@SaraMorsy Your help is welcome of course! This project does not require a high level of Python, we will mainly use libraries that already exist. And it will be a perfect opportunity to gain some Python experience ;)

@AKSoo Great ideas! I didn't have time to start the project before I proposed it here, you're more than welcome to start looking at the databases on OpenNeuro. I look forward to disc

[2020-06-12 07:23] kanishk16 opened #176 "Typo on Registration Page"
# Description
![image](https://user-images.githubusercontent.com/36276423/84476089-47ab1180-acab-11ea-86e6-4528533392ae.png)

# Expected Behavior

Intended to be **World**

# Checklist

- [x] Run `git fetch` to get the most up to date version of `master`
- [x] Searched through existing Issues to confirm this is not a duplicate issue
- [x] Filled out the Description, Expected Behavior, Actual Behav

[2020-06-12 07:38] Remi-Gau commented on #176
Wow. Good catch @kanishk16 .

Will fix this right away. :smile:

[2020-06-12 07:49] Remi-Gau commented on #176
Ha just realized this is on the registration page on the OHBM website side of things and on not on the  Brainhack website so I can raise the issue but it can take MUCH longer for it to get fixed given how much work they have.

@cmaumet I think you can confirm that this typo is unlikely to get fixed in a short time, correct?

[2020-06-12 08:09] cmaumet commented on #176
Yes unfortunately this is unlikely to get fixed.

[2020-06-12 08:16] kanishk16 commented on #176
@Remi-Gau Exactly... I realized while going to raise a PR for the same but nonetheless this could be amended for the future events.

[2020-06-12 08:53] civier opened #177 "Virtual Neuro Machine (VNM)"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-12 09:33] DorienHuijser commented on #168
I could just add a new line in the project description for now?
`  details: "Hub: EMEA
<br>PROJECT DESCRIPTION.
<br>*description*
<br>More info..." `
?

[2020-06-12 09:39] Remi-Gau commented on #168
actually something that will give us more flexibility:
add a new `hub` key to the template of the `projects.yml` file like this:

[code]

And add it to all the projects we have already: this way can reinject the content of that key however we want when the Jekyll generate the html pages.

Makes sense?

[2020-06-12 09:49] ufangYang commented on #124
hi @ofgulban,  Im Yu-Fang who is taking care of your project for the @ohbm/hack2020-social_media :)

[2020-06-12 10:01] DorienHuijser commented on #168
Yes, will include this in my next update!

[2020-06-12 10:08] Remi-Gau commented on #168
You are star. Thanks. :pray:

[2020-06-12 11:01] lnnrtwttkhn commented on #156
Hi @adswa, I would be happy to join this project during the hackathon.

Actually, I wondered before if DataLad could also be used with [Seafile](https://www.seafile.com/en/home/) as the special remote, so maybe while figuring out how it could work with OSF, I would also learn how to use it with Seafile.

[2020-06-12 11:29] adswa commented on #156
Hi @lnnrtwttkhn, great to have you on-board! :-)

Yes, it should work. I have never done it before myself (I didn't know about Seafile until now), but it works via the [rclone](https://github.com/rclone/rclone) special remote. There is a walk through on how to set everything up via rclone for Dropbox in the handbook (http://handbook.datalad.org/en/latest/basics/101-138-sharethirdparty.html). I sup

[2020-06-12 11:33] lnnrtwttkhn commented on #156
Hi @adswa, that sounds great! I will check out the links and see if I can get it to work!

[2020-06-12 11:38] Remi-Gau opened #179 "Prettify the schedule landing page by using the images from the OSR counterpart"
See here.
https://ohbm.github.io/osr2020/schedule/

https://github.com/ohbm/osr2020/blob/master/img/map_1.svg

[2020-06-12 11:45] raamana commented on #174
This is interesting project. I’d be curious to learn what the comparison would tell us. It may have some connections to neuropredict and confounds libraries I’m working on, which may also serve another baseline in the comparison.

[2020-06-12 12:10] #7 closed

[2020-06-12 12:26] remiadon opened #181 "BIDS-prov examples"
**Guidelines**

*Once you are done (at least all 'required' items must be provided), please delete the "Guidelines" section add a comment saying 'hi @ohbm/project-monitors: My project is ready!'*

Thank you!

----------------------------
## Project info

**Title**:
 Add more examples in BIDS prov

**Project lead**:
Rémi Adon, https://github.com/remiadon

**[Timezone](https://github.com/ohbm/hackat

[2020-06-12 12:37] saampras commented on #153
Hello @pradau I find this project very interesting and I am keen to work on it. I have a background in Mechatronics and Biomedical Engineering. I currently reside in Melbourne, Australia and hence I belong to the Asia Pacific Hub of brain hack. I was wondering if you would be keen to collaborate across hubs. Kindly let me know!

[2020-06-12 12:55] Remi-Gau commented on #153
Hey @pradau

I created a mattermost channel for your project on mattermost.

https://mattermost.brainhack.org/brainhack/channels/hbmhack-multimod-nf

[2020-06-12 15:53] jcohenadad commented on #128
@Remi-Gau Twitter project pitch added 😊

[2020-06-12 17:43] ofgulban commented on #124
Hi @ufangYang , thanks a lot for the information :) .
Let me know if I need to do something about this.

[2020-06-12 20:17] Remi-Gau commented on #128
Wow. Thanks. Will tweet right away.

[2020-06-12 23:00] nqueder opened #183 "BIDS Specification Terms PDF Table Generator"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-13 03:02] zuoxinian commented on #173
hi @ohbm/project-monitors: My project is ready!

[2020-06-13 06:30] nqueder commented on #183
hi @ohbm/project-monitors: My project is ready!

[2020-06-13 06:32] nqueder commented on #183
hi @ohbm/project-monitors My project is ready!

[2020-06-13 06:53] Remi-Gau commented on #183
hey @nqueder :wave:

This looks good. :sparkles:

I think that our @ohbm/hack2020-monitors will have another look at that soon.

Already added some labels. Check through our list of issue labels if some other ones could be added.

Do you have an image for the [website](https://ohbm.github.io/hackathon2020/hackathon/) we could use?

Maybe the BIDS logo?

[2020-06-13 07:08] Remi-Gau commented on #177
Hey :wave:

Looking good. :+1:

Added some labels. Check if they are OK with you.

git-3 is the level we use to denote skills in continuous integration: is that OK with you?

[2020-06-13 07:43] civier commented on #177
Yes. All good.
Thank you.

Oren

--
Oren Civier
Neuroimaging Informatics Fellow
Swinburne Neuroimaging | National Imaging Facility
https://www.swinburne.edu.au/neuroimaging
https://anif.org.au/

Swinburne University of Technology
Hawthorn Campus, Advanced Technologies Centre, Room 914
+61 3 9214 4628 | +61 4 3101 6603
Teams: ocivier@swin.edu.au
https://twitter.com/orencivier

On Sat, Jun 13, 2020

[2020-06-13 09:24] #168 closed

[2020-06-13 09:24] #119 closed

[2020-06-13 09:46] deep-introspection opened #187 "HyPyP – The Hyperscanning Python Pipeline"
**Guidelines**
 2. *Check items in the checklist below as you go through them*
 3. *Once you are done (at least all 'required' items must be provided), please delete the "Guidelines" section add a comment saying 'hi @ohbm/project-monitors: My project is ready!'*

Thank you!

*After step 1 (issue submitted), we will assign a 'project monitor' to follow your submission. If at any time you need help

[2020-06-13 10:06] deep-introspection commented on #187
hi @ohbm/project-monitors: My project is ready!

[2020-06-13 11:52] ufangYang commented on #124
Welcome @ofgulban!  Check out your inbox in mattermost :)

[2020-06-13 12:13] Remi-Gau commented on #173
hey @zuoxinian :wave:

what is your mattermost username? I would need to add you to some channels overthere.

:smiley:

[2020-06-13 12:28] Remi-Gau commented on #109
@manojneuro any thought if you want to do a recorded project pitch in all hubs?

If not we will need to assign you to a specfic hub for your pitch. LMYWYT

[2020-06-13 12:40] Remi-Gau commented on #181
hey @remiadon :wave:

I would need your mattermost username to add you to the relevant channels.

Merci :wink:

[2020-06-13 12:59] Remi-Gau commented on #143
hey @soniajoseph :wave:
I would need your mattermost username to add you to some channels. :pray:
Thanks. :-)

[2020-06-13 13:47] civier commented on #177
I have some questions to the neurodocker people (i.e. gods). I wonder if they can give us a hand? ... Let's see :-)

1. NeuroDebian
Neurodocker still offers a limited range of tools. For our specific goal, it might be possible to use a Debian base, and then install the rest of the tools (not available on neurodocker) through NeuroDebian. Would you recommend that?
One issue that I noticed is that N

[2020-06-13 14:19] manojneuro commented on #109
@Remi-Gau I will make a recorded pitch for all hubs.

[2020-06-13 14:29] cmaumet commented on #109
Hi @manojneuro, thanks for your project and for willing to do a recorded pitch! Please let us know when your recording is ready so that we can share with the Asia Pacific and Europe, Middle East and Africa team. Your project pitch should be of a maximum of 3 to 5 minutes, we recommend that you use 1-3 slides which include your project title, Github issue number, name of your mattermost channel and

[2020-06-13 14:33] cmaumet commented on #174
Hi @sina-mansour! Thanks a lot for your project. Unless I am mistaken, In think that your project co-lead (Ye Tian) is not registered yet to the event. Can you please ask them to register or list them as project collaborators if they are not joining the event? Thank you!

[2020-06-13 14:34] cmaumet commented on #128
Hi @jcohenadad ! Thanks a lot for your project. Unless I am mistaken, In think that part your project co-leads (Ryan Topfer, Gaspard Cereza, Jason Stockmann) are not registered yet to the event. Can you please ask them to register or list them as project collaborators if they are not joining the event? Thank you!

[2020-06-13 14:37] jaystock commented on #128
Camille, do you mind sharing the registration link with me?   Thank you!   Do I have to register for OHBM to participate?

Jason

Sent from my iPhone

On Jun 13, 2020, at 10:35 AM, Camille Maumet <notifications@github.com> wrote:

﻿

        External Email - Use Caution

Hi @jcohenadad<https://github.com/jcohenadad> ! Thanks a lot for your project. Unless I am mistaken, In think that part your pro

[2020-06-13 14:40] cmaumet commented on #128
@jaystock: Sure, here is the link: http://www.humanbrainmapping.org/HackathonReg/. There is no need to be registered to OHBM to attend the hackathon. Thanks!

[2020-06-13 16:49] gaspardcereza commented on #128
Hi  Camille, I should already be registered. My OHBM ID is 42482. Can you check again for my registration ? Tell me if you need any additional info. Thanks !

[2020-06-13 16:54] AndysWorth opened #188 "BIDS Curation GUI"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-13 17:05] satra commented on #177
Neurodocker still offers a limited range of tools. For our specific goal, it might be possible to use a Debian base, and then install the rest of the tools (not available on neurodocker) through NeuroDebian. Would you recommend that?
One issue that I noticed is that NeuroDebien stopped supporting the new versions of some tools (like FSL), and users are referred instead to neurodocker (see Yaroslav

[2020-06-13 17:09] satra commented on #181
@remiadon  and @cmaumet - let us setup a time to chat about this during the hackathon. i would love to generate the context and the validator, if we can, first.

[2020-06-13 17:28] Remi-Gau commented on #187
hey @deep-introspection :wave:

Added some labels to your project. Double check that I did not miss anything.

Am I correct in guession that your project does not require ANY git knowledge?

[2020-06-13 18:36] cmaumet commented on #128
Thanks @gaspardcereza! I've just found your record. To finish your registration, I would need you to fill in the form over [here](https://framaforms.org/registration-for-ohbm-brainhack-step-12-1589173979). Is that okay for you? Thanks!

[2020-06-13 18:44] gaspardcereza commented on #128
Done. Thank you !

[2020-06-13 18:51] Remi-Gau commented on #188
Hey
Added some labels. Make sure they are OK with you.
Technically your project does not require any git knowledge, correct?

[2020-06-13 18:58] sanuann opened #189 "ReproSchema and Library: A JSON-LD schema to harmonize behavioral, cognitive, and neuropsych assessments"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-13 19:42] AndysWorth commented on #188
Hey, thanks for the labels!  I guess I should add git to the skilz.

[2020-06-13 20:17] jhlegarreta commented on #181
@remiadon thanks for submitting a project ! You may want to add further labels so that people can know better the required programming skills (e.g. `python` `web tools`, etc.). Let me know if you would like to have some other label that has not been created yet.

[2020-06-13 20:21] jhlegarreta commented on #173
@zuoxinian can you add labels to the issue, please? It will help participants know more about the required skills. Let us know if you would like to propose other labels that have not been created yet.

[2020-06-13 20:24] cmaumet commented on #181
@satra: SGTM. Would you be happy to act as project lead for this project on The Americas hub?

[2020-06-13 20:26] satra commented on #181
@cmaumet - till i become a carpet, sure :)

[2020-06-13 20:34] jhlegarreta commented on #153
@pradau thanks for submitting a project ! You may want to check the checklist items so that potential contributors know more about your project: for example, you add an image so that it catches the attention of people [reading the hacktrack project list](https://ohbm.github.io/hackathon2020/hackathon/) or you can add labels so that they know which skill set is necessary. If the existing labels do

[2020-06-13 20:38] AndysWorth commented on #188
hi @ohbm/project-monitors: My project is ready, thanks!

[2020-06-13 20:41] cmaumet commented on #181
It's up to you @satra! This would mean you would be doing the pitch for this project in The Americas hub. Please let us know if you'd like to, if not that's very fine :)

[2020-06-13 20:55] complexbrains commented on #173
@zuoxinian Thank you very much for your project submission. Could we ask you to add 2 good issues regarding your project too please? Also we would really appreciate if you could add a snippet to your issue, if you want your project to be listed in the Bainhack webpage please? https://ohbm.github.io/hackathon2020/

Thank you!

[2020-06-13 21:02] complexbrains commented on #189
Dear @sanuann Thank you very much for your project submission. Could we ask you to create good two issues either in your Github repo and give the link in the issue, please?

Also, would you mind sharing a snippet regarding your project if you want it to be listed in the https://ohbm.github.io/hackathon2020/ webpage, please?

As soon as we got them from you the review procedure will be completed an

[2020-06-13 21:05] complexbrains commented on #188
Dear @AndysWorth  Thank you very much for your project submission. Would you mind sharing a snippet regarding your project if you want it to be listed in the https://ohbm.github.io/hackathon2020/ webpage, please?

As soon as we got them from you the review procedure will be completed and your project will be ready for the Brainhack!

We look forward to hearing from you.

[2020-06-13 21:07] jhlegarreta commented on #189
@sanuann @satra looking good ! As @complexbrains suggests, you may want to share a short description so that the project gets added to the website. In order to catch the attention of attendees, an image specific to your project would also be useful.

So you can open the PR or else, as @complexbrains says, you can share them here and we will open the PR. Thanks :rocket: !

In case you want to open

[2020-06-13 21:08] djarecka opened #192 "Pydra's relatives and friends"
hi @ohbm/project-monitors: My project is ready!

----------------------------
## Project info

**Title**:
Pydra's relatives and friends: providing Pydra's support for FitLins, Nipype interfaces and ML model comparison

**Project lead**:
Dorota Jarecka: @djarecka
Satra Ghosh: @satra
Chris Markiewicz: @effigies
...

**[Timezone](https://github.com/ohbm/hackathon2020/blob/master/.github/ISSUE_TEMPLAT

[2020-06-13 21:11] jhlegarreta commented on #188
@complexbrains Maggie and Andy are already doing it in PR #191 ! :tada:

[2020-06-13 21:20] jhlegarreta commented on #192
@djarecka @satra @effigies looking awesome :rocket: ! You may want to share a short description that summarizes the purpose and main components so that the project can be added to the [website](https://ohbm.github.io/hackathon2020/hackathon/).

If you are willing to add a PR, you will need to edit the projects file:
https://github.com/ohbm/hackathon2020/blob/master/_data/projects.yml

A meaningful

[2020-06-13 21:55] smoia opened #193 "physiopy/phys2bids: BIDS formatting of physiological recordings"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-13 22:21] jhlegarreta commented on #193
@smoia looks awesome. Could please check that the `eye tracking` [label description](https://github.com/ohbm/hackathon2020/issues/labels) matches the type of data that you will be dealing with?

As for the [website description](https://ohbm.github.io/hackathon2020/hackathon/), could you please share one that summarizes the goal of the project and its background? You can either do it here or open a

[2020-06-13 22:34] smoia commented on #193
@jhlegarreta thank you for your help! Sure thing! Is there a label for physiology (but not electrophysiology) as well? That's more the kind of data we work with.
Tomorrow I'll make the PR to the website descriptor!

[2020-06-13 22:35] smoia commented on #193
Ah, you ninjaed me! Thank you again!

[2020-06-13 22:53] satra commented on #181
i should be able to do that.

[2020-06-13 23:17] sanuann commented on #189
@jhlegarreta I don't have a specific image for my project. but can perhaps use the one of our organization?

[2020-06-13 23:21] jhlegarreta commented on #189
We can use the default one yes: just so that you know, how it would look like, it is a question mark, as you can see [here](https://ohbm.github.io/hackathon2020/hackathon/).

Then, can you share the appropriate description, please?

[2020-06-14 00:09] glatard opened #194 "Sharing datasets in the Canadian Open Neuroscience Platform"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-14 00:38] complexbrains commented on #194
Dear @glatard @samirdas @jbpoline

thank you very much for submitting your project, it is really exciting to have you all in this years OHBM Brainhack.

I will raise a couple of things for you to make the project easier to be reviewed if you do not mind. First having 2 good issues would be really helpful if you could add them please.

We would also happy to have a snippet from you to list your pro

[2020-06-14 00:53] Lestropie opened #195 "Diffusion MRI brain masking ("dwi2mask")"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-14 01:06] glatard commented on #194
hi @ohbm/project-monitors: My project is ready!

[2020-06-14 01:47] mandana-mazaheri opened #197 "Creating a dashboard and recommender system for CONP DataLad datasets and Boutiques pipelines"
## Project info
Creating a dashboard and recommender system for [CONP](http://conp.ca) [DataLad](http://www.datalad.org) datasets and [Boutiques](http://boutiques.github.io) pipelines

Title:
Creating a dashboard and recommender system for [CONP](http://conp.ca) [DataLad](http://www.datalad.org) datasets and [Boutiques](http://boutiques.github.io) pipelines

Project leads:
Mandana Mazaheri: @Manda

[2020-06-14 02:06] Lestropie commented on #195
Hi @ohbm/project-monitors: My project is ready!

[2020-06-14 02:19] Aidavhd opened #199 "---"

[2020-06-14 02:32] llevitis commented on #195
HI @Lestropie - thanks for submitting this project and being so thorough with the checklist :) Do you have a slightly shorter description of the project we could use for the OHBM Brainhack website?

[2020-06-14 02:32] #199 closed

[2020-06-14 02:37] llevitis commented on #195
Woops nevermind just saw that you already opened a PR!

[2020-06-14 02:41] Lestropie commented on #195
Referencing PR #198 so that GitHub establishes the link at both ends.

[2020-06-14 02:57] sanuann commented on #189
I've already updated the description @jhlegarreta

[2020-06-14 04:26] #176 closed

[2020-06-14 04:37] nqueder commented on #183
Thanks! @Remi-Gau

An image for the website is attached below.

![BIDS-Terms](https://user-images.githubusercontent.com/47163431/84584825-e32ca700-adbd-11ea-8901-ffef608fa7cc.png)

[2020-06-14 04:50] Remi-Gau commented on #193
hey @smoia

As you have project leads in several hubs, should I put you down for project pitches in both hubs?

[2020-06-14 04:55] Remi-Gau commented on #183
Fantastic.

@DorienHuijser Can I let you handle this one? :wink:

[2020-06-14 04:58] dPys opened #200 "PyNets"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-14 05:31] sina-mansour commented on #174
hi @ohbm/project-monitors: My project is ready!

[2020-06-14 05:31] ali4006 opened #201 "Evaluating the pipeline stability though the libmath fuzzy environment"
## Project info
Evaluating the pipeline stability though the libmath fuzzy environment

**Title**:
Evaluating the pipeline stability though the libmath fuzzy environment

**Project lead**:
Ali Salari: @ali4006
Greg Kiar: @gkiar
Valerie Hayot: @ValHayot

**[Timezone](https://github.com/ohbm/hackathon2020/blob/master/.github/ISSUE_TEMPLATE/handbooks/projects.md#timezone)**:
UTC-4

**Hub**:
The Ameri

[2020-06-14 05:32] ali4006 commented on #201
hi @ohbm/project-monitors: My project is ready!

[2020-06-14 05:33] sina-mansour commented on #174
Hi @cmaumet, I'll make sure to ask other project leads to also register for the event.

[2020-06-14 05:56] jdtournier opened #202 "mrpeek: a sixel-based terminal image viewer for MRtrix3"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-14 06:04] eduff opened #203 "BIDS Connectivity data schema"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-14 06:12] eduff commented on #203
'hi @ohbm/project-monitors: My project is ready!'*

[2020-06-14 06:39] shellewell commented on #153
Hey @pradau great project! Like @saampras I'm also in Australia (Asia Pacific hub) but would be keen to work on the project if working across hubs is possible. I'm new to coding but experienced in biofeedback & neurofeedback for PTSD and traumatic brain injury.

[2020-06-14 06:43] Remi-Gau commented on #174
@DorienHuijser I think we have an image for this project to add to the website. :tada: :wink:

[2020-06-14 06:46] Remi-Gau commented on #202
hey @jdtournier

As you seem to have project leads in several hubs, should I put you down for project pitches in both hubs (meaning will there be some who can pitch **live** for both hubs)?

[2020-06-14 06:46] Remi-Gau commented on #202
Oops sorry that was a mishap my part.

[2020-06-14 06:56] jdtournier commented on #202
We're discussing the live pitch issue right now. I'm unlikely to be able to do it myself due to home schooling duties...

On a different note: I'm a bit confused about the advice regarding the video channel. I'm assuming we're free to choose whatever we want, so I've set up a Google Meet for that. But are we to show the details of the channel here, or keep them hidden as a comment, or only show th

[2020-06-14 07:01] jdtournier commented on #202
OK, we've decided to limit this to the Europe, Middle East & Africe time zone to avoid too many clashes... I've updated the description to match, I assume we'll also need to remove the corresponding label?

[2020-06-14 07:04] Remi-Gau commented on #202
Sorry about the confusion. You are free to use whatever means you want. :+1:

And yes the best is to just put the video channel link in your mattermost channel and leave them out of the issue all together. Sorry we are sort of course correcting as we go. We promise that for the next pandemic, we will be ready. :wink:

[2020-06-14 07:05] Remi-Gau commented on #202
Done it for you.

But if you want you can mention where each project lead is situated if that can help some attendees get in touch with them in their hub.

[2020-06-14 07:08] jdtournier commented on #202
OK, video channel section removed - I assume there's no point in it being here any more.

All our project leads for this project are actually in UK / Germany, so all in Europe hub. I've taken @Lestropie off at his request even though he's keen to drop in unofficially when possible, but he'll have his own project to deal with.

[2020-06-14 07:12] jdtournier commented on #202
Otherwise, I reckon this is good to go? I'm not sure we need to set up the Twitter snippet if we're happy with the default?

We might set up a separate repo and issue track / project board from there, but again, I assume this is something we can do from the mattermost channel, right?

[2020-06-14 07:20] jdtournier commented on #202
I'm also a bit unclear about the onboarding process. I assume interested users will contact us on the mattermost channel, and if we're all happy, they're in, right? Is there a more formal process we should follow here?

[2020-06-14 07:22] Remi-Gau commented on #202
We want to try to tweet about every project to give them more visibility but we are bit short-staffed on that end. Let's see how much we can do.

Yes definitely. In your own time. We are just making suggestions on possible workflows that might help people work together remotely. Not everyone knows about project boards and so on. :-)

[2020-06-14 07:26] jdtournier commented on #202
We'll be tweeting it out from our side anyway, so you can always just retweet that if you're short on time! I assume there's a hashtag I can use to get your attention?

Otherwise, please consider this project ready for submission!

[2020-06-14 07:28] Remi-Gau commented on #202
Would this answer in our FAQ help?

https://ohbm.github.io/hackathon2020/FAQ/#If%20you%20are%20attending%20the%20OHBM%20brainhack%208

Let me know because it can help me rephrase for other people. :pray:

[2020-06-14 07:31] jdtournier commented on #202
OK, it helps in that it's clear it's a pretty informal process. They contact us, we discuss. If that's all it is, that's fine. I was just concerned that there was a more formal aspect to it that I'd missed - maybe there's a requirement on our side to vet applicants, and report back to the organisers who is taking part in our project, etc. If that's not the case, that's no problem. :+1:

[2020-06-14 07:35] Remi-Gau commented on #202
Awesome. This is our twitter handle: @OhbmOpen
And the hashtags we have been using.
#OHBMHackathon #OHBM2020 #Brainhack

Goodie. You're in.
I think the project monitors will do another cross-check with you. One again a bit short-staffed and hard to keep track of everything.

[2020-06-14 07:39] Remi-Gau commented on #202
No it is very much self managed. :wink:

Though we would love for you to keep track of who helped you. Our grand idea would be to have at least one post-hacakthon tweet explaining the progress made and with the twitter handles of all the contributors of that project on that hackathon.

[2020-06-14 07:41] jdtournier commented on #202
All good, thanks!

[2020-06-14 07:44] yetianmed commented on #174
Hi @cmaumet, just let you know that I have just registered. Thank you. Ye

[2020-06-14 07:54] civier commented on #177
Thanks @satra for all the great input. We have only 3 days, but we'll see what we can do.
BTW, what do you mean by:

It can mean different things, so I want to make sure I understand you.
Oren

[2020-06-14 08:12] Jinglei-Lv opened #204 "Matching white matter fiber tracts across subjects"
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you to register first over [here](http://www.humanbrainmapping.org/HackathonReg/). Thank you!*

*We have prepared a checklist to help with your project submission. Here is how to proceed:*
 1. *Before filling in any part, please submit t

[2020-06-14 09:20] jdtournier commented on #202
Sorry, can I just confirm that this project is submitted? Do I need to do anything else? I need to run some errands now, so won't be available later to fix anything if needed...

[2020-06-14 09:23] Remi-Gau commented on #202
Yup project is submitted. You are all set.

There might be some post-submission checks but you are good to go. :+1:

[2020-06-14 09:27] jdtournier commented on #202
Great to hear, thanks for confirming!

[2020-06-14 10:44] DorienHuijser commented on #201
@ali4006 I picked [this image](https://github.com/gkiar/fuzzy/blob/master/img/fuzzy.png) for your project on the hackathon website, is that okay? If not, feel free to provide another image!

[2020-06-14 10:49] DorienHuijser commented on #153
@pradau Can you provide an image for your project for the [hackathon website](https://ohbm.github.io/hackathon2020/hackathon/)? Thanks in advance! 😄

[2020-06-14 10:52] DorienHuijser commented on #158
Hi @nbeliy, is there an image for your project that you would like to be displayed on the [hackathon website](https://ohbm.github.io/hackathon2020/hackathon/)? Thanks in advance!

[2020-06-14 10:55] DorienHuijser commented on #162
Hi @matteomancini, is there an image that you would like to display with your project on the [hackathon website](https://ohbm.github.io/hackathon2020/hackathon/)? If so, let me know. Thanks!

[2020-06-14 10:57] DorienHuijser commented on #173
Hi @zuoxinian, is there an image that you would like to display with your project on the [hackathon website](https://ohbm.github.io/hackathon2020/hackathon/)? If so, let me know. Thanks!

[2020-06-14 10:59] DorienHuijser commented on #181
Hi @remiadon, is there an image that you would like to display with your project on the [hackathon website](https://ohbm.github.io/hackathon2020/hackathon/)? If so, let me know. Thanks!

[2020-06-14 10:59] DorienHuijser commented on #189
Hi @sanuann, is there an image that you would like to display with your project on the [hackathon website](https://ohbm.github.io/hackathon2020/hackathon/)? If so, let me know. Thanks!

[2020-06-14 11:01] DorienHuijser commented on #197
Hi @mandana-mazaheri, is there an image that you would like to display with your project on the [hackathon website](https://ohbm.github.io/hackathon2020/hackathon/)? If so, let me know. Thanks!

[2020-06-14 11:06] smoia commented on #193
If it's possible, yes, it would be great!

[2020-06-14 11:14] Remi-Gau commented on #193
OK noted just let us know who we should call on "stage" in each hub. :-)

[2020-06-14 11:18] Remi-Gau commented on #189
Sorry @DorienHuijser.
Forgot to update you on that one: @sanuann said we should use this one for now.

https://avatars1.githubusercontent.com/u/18501735?s=200&v=4

[2020-06-14 12:15] smoia commented on #193
If it's possible to have two people onstage, @eurunuela and I for EMEA and @sangfrois and I for The Americas!

[2020-06-14 12:29] djarecka commented on #192
@jhlegarreta - thanks, will create a pr

[2020-06-14 14:15] mandana-mazaheri commented on #197
Hi Dorien,

Yes, I uploaded a link for this image in the issue. Thank you for your
assistance.

Best regards

On Sun, Jun 14, 2020 at 7:01 AM Dorien Huijser <notifications@github.com>
wrote:

[2020-06-14 15:32] cmaumet commented on #181
Thank you @satra!

[2020-06-14 15:46] jhlegarreta commented on #189
Awesome @sanuann . The description is already updated in the website !

@Remi-Gau @DorienHuijser image added in PR #208.

[2020-06-14 15:51] jhlegarreta commented on #197
assistance.

@mandana-mazaheri thanks for doing this. @glatard 's #194 project does also use the same CONP image. Are you both @glatard and @mandana-mazaheri  with this or any of you willing to suggest some edition to your images so that they can better identify your projects?

[2020-06-14 16:00] glatard commented on #197
@mandana-mazaheri it would be nice to use another image, maybe you could find something more specific about recommender systems? #194 is a broader CONP project and I think we should keep the logo there.

[2020-06-14 16:10] smoia commented on #193
@jhlegarreta I opened a PR for the snippet in #209

[2020-06-14 16:11] ali4006 commented on #201
Hey @DorienHuijser, it's OK. Thank you.

[2020-06-14 16:51] mandana-mazaheri commented on #197
Sure, I will change that, thank you.

On Sun., Jun. 14, 2020, 12:00 p.m. Tristan Glatard <notifications@github.com>
wrote:

[2020-06-14 17:53] jhlegarreta commented on #204
@Jinglei-Lv do you have a video channel for your project? The checkbox was checked but no link was specified.

[2020-06-14 17:56] jhlegarreta commented on #173
@zuoxinian do you have or can you set up a mattermost channel where the project discussion will take place? Prefixing the channel with `hbmhack-` will facilitate its discoverability.

[2020-06-14 17:58] jhlegarreta commented on #109
@manojneuro do you have a video channel for your project? The checkbox was checked but no link was specified. Thanks.

[2020-06-14 18:06] jhlegarreta commented on #84
@alecrimi would you please set up a chat channel (e.g. on mattermost) and a video channel (in a platform of your choice) so that you can easily communicate with the participants, please? Prefixing the channel (at least the chat one) with `hbmhack-` will facilitate its discoverability. Thanks.

[2020-06-14 18:08] jhlegarreta commented on #102
@claudebajada  do you have a video channel for your project? The checkbox was checked but no link was specified. Thanks.

[2020-06-14 18:09] jhlegarreta commented on #124
@ofgulban were you able to set up a video channel for your project? Thanks !

[2020-06-14 18:12] jhlegarreta commented on #156
@adswa do you have a video channel for your project? The checkbox was checked but no link was specified. Thanks.

[2020-06-14 18:16] jhlegarreta commented on #166
@alexandreroutier do you have a video channel for your project? The checkbox was checked but no link was specified. Thanks.

[2020-06-14 18:17] jhlegarreta commented on #181
@remiadon  would you please set up a chat channel (e.g. on mattermost) and a video channel (in a platform of your choice) so that you can easily communicate with the participants, please? Prefixing the channel (at least the chat one) with `hbmhack-` will facilitate its discoverability. Thanks.

[2020-06-14 18:24] satra commented on #177
all of this doesn't have to be done in 3 days :)

currently there is no check in neurodocker that when you install two different packages that their underlying requirements won't clash. presently this is ok because of a small set of packages. but this is exactly where every package manager eventually runs into trouble. this is just a note that neurodocker was intended originally to be a helpful to

[2020-06-14 18:28] jhlegarreta commented on #203
@eduff do you have a video channel for your project? The checkbox was checked but no link was specified. Would add that information to the mattermost channel, please? Thanks.

[2020-06-14 18:43] jhlegarreta commented on #143
@soniajoseph  would you please set up a chat channel (e.g. on mattermost) and a video channel (in a platform of your choice) so that you can easily communicate with the participants, please? Prefixing the channel (at least the chat one) with `hbmhack-` will facilitate its discoverability. Please post here **only** the chat channel and mention the video channel in the chat channel. Thanks.

[2020-06-14 18:45] jhlegarreta commented on #153
@pradau  do you have a video channel for your project? Would you add that information to **the mattermost channel**, please? Thanks.

[2020-06-14 18:46] ericearl opened #210 "Building Citizen Science Quality Control Exploratory Data Analysis & Other Tools"
## Project info

**Title**:

Building Citizen Science Quality Control Exploratory Data Analysis & Other Tools

**Project leads**:

From the [Oregon Health & Science University (OHSU) Developmental Cognition and Neruoimaging (DCAN) Labs](https://www.ohsu.edu/dcan) in Portland, OR, USA:

- [Eric Earl](https://ericearl.github.io/), https://github.com/ericearl
- [Anders Perrone](https://www.ohsu.edu/s

[2020-06-14 18:53] jhlegarreta commented on #192
@djarecka I removed the video link to avoid unexpected events in the video channel. Would you add that information to **the mattermost channel**, please? Thanks.

[2020-06-14 18:54] jhlegarreta commented on #189
@sanuann do you have a video channel for your project? Would you add that information to **the mattermost channel**, please? Thanks.

[2020-06-14 18:55] jhlegarreta commented on #188
@AndysWorth  do you have a video channel for your project? Would you add that information to **the mattermost channel**, please? Thanks.

[2020-06-14 18:56] jhlegarreta commented on #183
@nqueder  do you have a video channel for your project? Would you add that information to **the mattermost channel**, please? Thanks.

[2020-06-14 18:57] djarecka commented on #192
sure, will add during this hackathon

[2020-06-14 18:58] sanuann commented on #189
I've pinned that to the hbmhack-reproschema channel.

[2020-06-14 19:38] claudebajada commented on #102
Hi @jhlegarreta yes we are on Jitsi meet. The channel was removed from here to minimise chances of random spam callers. You can join our mattermost channel and I'll post the video link there.

[2020-06-14 19:42] deep-introspection commented on #187
Great, thanks @Remi-Gau! Indeed, anyone can start helping without ANY git knowledge, by just reporting what is unclear in the installation and documentation of the library.

[2020-06-14 19:44] jhlegarreta commented on #102
Awesome. Thanks. If you pin that post to the channel, folks will be able to find it more easily !

[2020-06-14 19:52] adswa commented on #156
Yes, we took it out to prevent "zoom-bombing". It is now in the header and pinned message of the mattermost channel.

[2020-06-14 19:52] adswa commented on #156
@jhlegarreta

[2020-06-14 19:52] claudebajada commented on #102
Done

[2020-06-14 20:11] Remi-Gau commented on #187
Awesome. :heart_eyes:

[2020-06-14 20:32] jhlegarreta commented on #149
@LeonieBorne I removed the video link to avoid unexpected events in the video channel. Would you add and pin that information to the mattermost channel, please? Thanks.

[2020-06-14 20:34] jhlegarreta commented on #187
@deep-introspection I removed the video link to avoid unexpected events in the video channel. Would you add and pin that information to the mattermost channel, please? Thanks.

[2020-06-14 20:36] jhlegarreta commented on #177
@civier I removed the video link to avoid unexpected events in the video channel. Would you add and pin that information to the mattermost channel, please? Thanks.

[2020-06-14 20:37] jhlegarreta commented on #174
@sina-mansour I removed the video link to avoid unexpected events in the video channel. Would you add and pin that information to the mattermost channel, please? Thanks.

[2020-06-14 20:42] ufangYang commented on #187
hi @deep-introspection, Im Yu-Fang who is taking care of your project for the @ohbm/hack2020-social_media :)

[2020-06-14 20:42] alexandreroutier commented on #166
I just updated the Mattermost channel and the GitHub issue to add a Jitsi link: https://meet.jit.si/neuroimaging-tutorials-and-resources

[2020-06-14 20:44] jhlegarreta commented on #166
Thanks @alexandreroutier . I removed the link from the comment and issue to avoid unexpected events in the video channel :wink: !

[2020-06-14 20:53] deep-introspection commented on #187
Thanks a lot @jhlegarreta & @ufangYang !

[2020-06-14 21:04] alexandreroutier commented on #166
Indeed 😳 Thanks!

[2020-06-14 21:23] ofgulban commented on #124
Hi @jhlegarreta , I did not set it up yet. I am a bit unsure about which service to use. Any suggestions?
I am closer to Jitsi but had a few bad connectivity experiences with it recently.

[2020-06-14 21:33] jhlegarreta commented on #124
I am closer to Jitsi but had a few bad connectivity experiences with it recently.

I guess no service is bullet-proof, especially in a free plan. Most projects seem to have chosen jitsi, though. Beyond the more known google meet, skype or zoom, I've seen some hacktrack project suggesting to use discord. To be honest, I find it convenient when there is no need to install any third-party software or

[2020-06-14 21:36] ofgulban commented on #124
Thanks, I will post the link to the chat channel, and pin it. Jitsi is advantageous in a way that it does not require any installation. Maybe I will try that first. Thanks for the suggestions.

[2020-06-14 22:51] nqueder commented on #183
@jhlegarreta of course! The link to my video channel has been added to the [mattermost channel](https://mattermost.brainhack.org/brainhack/channels/hbm_bids-terms-to-pdf) description.

[2020-06-14 23:28] civier commented on #177
Sure. But can you explain me how to do it? I'm not familiar with mattermost.
Also -- what if a participant doesn't use mattermost? or is it obligatory?

Oren

On Mon, 15 Jun 2020, 06:37 Jon Haitz Legarreta Gorroño, <
notifications@github.com> wrote:

[2020-06-14 23:54] jhlegarreta commented on #177
Also -- what if a participant doesn't use mattermost? or is it obligatory?

Although you could choose `discord`, `gitter` or `slack`, we **strongly** encourage using `mattermost` for a few reasons:
- A workspace called `brainhack` already exists and many, many people in the computational neuroscience/neuroimaging field are already using it. In fact, the community transitioned from `slack` to `matt

[2020-06-14 23:56] Jinglei-Lv commented on #204
Updated. Thanks.

[2020-06-15 00:26] civier commented on #177
I have a question @jhlegarreta about your comment above:

Is it enough to write something like "<channel name> on Jitsi" or include the Jitsi URL as an image? How sophisticated are videobombers anyway?

[2020-06-15 00:36] jhlegarreta commented on #177
Yes, a jitsi url in the mattermost channel is considered to be enough and having some degree of safety (requires already a mattermost, acount, etc.) for the OHBM hacktrack purposes.

[2020-06-15 00:58] LeonieBorne commented on #149
@jhlegarreta Done, thanks!

[2020-06-15 03:13] llevitis commented on #210
hey @ericearl - thanks for adding the project! Everything looks great, and I just ask that you add 2 concrete good first issues :)

[2020-06-15 08:28] nbeliy commented on #158
Hi all, I took an initiative to attach slides for pitch to the project description. Please tell if it's ok for you.
Also, can you add a tag `data-managment`, I've seen some projects that have it.

Thanks

[2020-06-15 08:58] nbeliy commented on #158
Hi @DorienHuijser, I don't have any image, but Matthias made a make-shift [one for me](https://mattermost.brainhack.org/files/rbmxjygzfpf45juj38qwc9bcfh/public?h=m3XDte-8wSsB_TejVI9Jo9MQqYMkUf1Z7kG-WDmCxMA)

[2020-06-15 08:59] sappelhoff commented on #156
Unfortunately I won't have time to participate in this Brainhack, but I think this project is really exciting, and I'll try to follow it as much as time permits.

I just wanted to share how I used Datalad and OSF in conjunction in the past:

1. using https://github.com/templateflow/datalad-osf ... however, the repo seems to be currently unmaintained
1. using this "recipe" I wrote in the form of a

[2020-06-15 09:16] matteomancini commented on #162
Hi @DorienHuijser the one already used on Twitter should do the job: https://twitter.com/OhbmOpen/status/1271113044987445254
Thanks! (:

[2020-06-15 10:29] complexbrains commented on #195
Dear @Lestropie would you mind creating a video channel and sharing it in your chat channel **only** to avoid any unwanted interference and letting us when you are done please? Then you will be ready to go! Thank you so much in advance!

[2020-06-15 10:35] complexbrains commented on #204
Dear @Jinglei-Lv I removed the video link in your issue to avoid any unwanted interference. Would you mind sharing that video link at your Mattermost channel and pin that information to that channel, please? Thank you very much 🤗

[2020-06-15 10:36] adswa commented on #156
thanks for sharing, @sappelhoff!

[2020-06-15 10:39] sebastientourbier opened #214 "Integration of EEG in the Connectome-Mapper 3"
---
name: Brainhack Project Template
about: This provides the backbone structure for your project description. Please follow along to submit your project!
title: ''
labels: 'Hackathon project'
assignees: '@ohbm/project-monitors'

---
**Guidelines**

*We are very excited to meet you at the 2020 OHBM Brainhack 🎉* *To submit a project, you need to be an attendee of the 2020 OHBM Brainhack. We ask you

[2020-06-15 11:03] complexbrains commented on #139
@johalgermissen You indicated that you will share the video link tomorrow, so may I ask you to share your video link, when it is ready, only on your Mattermost channel please to avoid any unwanted interferences, and please pin the message to your channel, please? We look forward to meeting you tomorrow! 🤗

[2020-06-15 11:13] complexbrains commented on #158
Dear @nbeliy I removed the video link in your issue to avoid any unwanted interference.
I guess you already shared the video link in your Mattermost channel so your issue seems ready to go! Thank you very much :hugs:

[2020-06-15 11:22] complexbrains commented on #166
Dear @alexandreroutier would you mind writing several goals and a couple of issues for your project that you think would help the Brainhack participants? Once you are done that we will complete the review asap! Thank you very much 🤗

[2020-06-15 11:27] johalgermissen commented on #139
@complexbrains yes, already saw the alert on Mattermost! Now also updated the project description here.

[2020-06-15 11:30] complexbrains commented on #202
Dear @jdtournier May I ask you to share your Video channel info at your Mattermost channel and pin it to the channel, please? I am marking this as a resolved issue and will move the project to the completion. Thank you so much!

[2020-06-15 11:36] complexbrains commented on #203
Dear @eduff123 Once you set your video channel, please share it in your Mattermost channel and pin it to the channel, but not share here to avoid any unwanted interference, please. Could you please let us know regarding completion of this then we will complete the revision. Thank you 🤗

[2020-06-15 11:41] complexbrains commented on #162
Dear @matteomancini Would you mind sharing the video link for your project in your Mattermost channel and pining it to the channel please? Also could you please let us know regarding completion of this then we will complete the revision for you. Thank you 🤗

[2020-06-15 11:43] complexbrains commented on #139
Thank you! Then I will complete the review of your project!

[2020-06-15 11:44] eduff commented on #203
apologies, I missed the previous message.  I will set this up, but am in a
series of meetings currently - if necessary can the revision be completed
regardless

On Mon, 15 Jun 2020 at 12:37, Isil Bilgin <notifications@github.com> wrote:

[2020-06-15 11:45] complexbrains commented on #173
Dear @zuoxinian, Would you mind setting up a Mattermost channel and a video communication link please? Then we will ask you to share the video link for your project in your Mattermost channel and pinning it to the channel please?

Also could you please let us know regarding completion of these then we will finish the revision for you. Thank you 🤗

[2020-06-15 11:48] complexbrains commented on #85
Dear @NiftyTorch  would you mind creating and sharing the video link for your project in your Mattermost channel and pinning it to the channel please?

Once you are done with that, could you please let us know regarding completion of this then we will complete the revision for you. Thank you 🤗

[2020-06-15 11:52] complexbrains commented on #120
Dear @jastiso, would you mind creating and sharing the video link for your project in your Mattermost channel and pinning it to the channel please?

Once you are done with that, could you please let us know regarding completion of this then we will complete the revision for you. Thank you 🤗

[2020-06-15 11:56] complexbrains commented on #128
Dear @jcohenadad and @aspardcereza  I added the link of your video chat room to your Mattermost channel. So your project is ready to go! Welcome aboard!

[2020-06-15 12:00] complexbrains commented on #140
Dear @JacobCWBillings, the link to your chat channel seems either broken or the channel is private therefore it is not open to the access. We know in such cases it requires admin rights to be made public so please do let us know if this is the case for your channel please. Otherwise please have a look at what is the problem with your channel link please.

Also we will ask you to create a video cha

[2020-06-15 12:01] complexbrains commented on #143
Dear @soniajoseph, would you mind creating and sharing the video link for your project in your Mattermost channel and pinning it to the channel please?

Once you are done with that, could you please let us know regarding completion of this then we will complete the revision for you. Thank you 🤗

[2020-06-15 12:06] complexbrains commented on #153
Dear @pradau we are still waiting for that several information from you to complete the revision, so we would really appreciate it if you can provide those please.

We will need

* Good 2 issues
* Skill you require from your participants
* Link to your project
* An image to share in the OHBM webpage,
* Link to your video chat (please create and share and pin this link only in your Mattermost chann

[2020-06-15 12:11] matteomancini commented on #162
Hi @complexbrains I just pinned the video link to the Mattermost channel.

[2020-06-15 12:12] complexbrains commented on #171
Dear @raamana I removed the information from your Video links to avoid any unwanted interference (even though it was password protected I know, to have a common consensus among all projects). So would you mind sharing that information in your Mattermost channel as well please? I also shared the link at the header of the channel!

So your project seems ready to go! Welcome aboard 🤗 🎊

[2020-06-15 12:16] complexbrains commented on #183
Dear @nqueder would you mind adding 2 good first issues to your project and letting us know please. Once you are done with that, I will complete the project revision and your project will be ready to go! Thank you 🤗

[2020-06-15 12:18] complexbrains commented on #188
Dear @AndysWorth would you mind creating and sharing your video chat link in your Mattermost channel please? Once you are done that, please let us know then we will close the revision process for you and you will be ready to go! Thank you 🤗

[2020-06-15 12:21] complexbrains commented on #189
Dear @sanuann your project looks ready to go! Welcome aboard! 🤗 🎊

[2020-06-15 12:23] complexbrains commented on #192
@djarecka Thank you! Your project seems ready to go! Welcome aboard! :hugs: 🎊

[2020-06-15 12:29] complexbrains commented on #194
Dear @glatard, would you mind checking the link of your Mattermost channel please? It might be either broken or private channel which does not allow non-members to join at the moment. If it is a private channel, then we will need admin rights to convert it to the public channel so please do let us immediately so we can help you with.

Once you are done with that, would you also mind creating and s

[2020-06-15 12:33] complexbrains commented on #197
Dear @mandana-mazaheri would you mind creating and sharing a video chat link for your project in your Mattermost channel by pinning it to the channel please?

Once you are done with that, please do let us know, then we will complete the revision and you will be ready to go! Thank you 🤗

[2020-06-15 12:35] complexbrains commented on #200
Dear @dPys, thank you for submitting your project! Your project seems ready to go! Welcome aboard :hugs: 🎊

[2020-06-15 12:35] DorienHuijser commented on #214
Hi @sebastientourbier, can you provide us with an image for the [hackathon website](https://ohbm.github.io/hackathon2020/hackathon/)? Thanks in advance!

[2020-06-15 12:38] complexbrains commented on #201
Dear @ali4006 Would you mind creating and sharing a video link of your chat room in your Mattermost channel please?

Once you are done with that, please let us know, we will complete the revision for you! Thank you :hugs:

[2020-06-15 12:41] complexbrains commented on #210
Dear @ericearl Would you mind creating and sharing a video chat room link and in your Mattermost channel and pinning it to the channel please?

Once you are done with that please let us know, we will complete the revision and your project will be ready to go! Thank you :hugs:

[2020-06-15 12:43] complexbrains commented on #124
Dear @ofgulban Would you mind giving us a shout when you created and shared the video chat room link and in your Mattermost channel please. Then we will complete the revision and your project will be ready to go! Thank you :hugs:

[2020-06-15 12:46] complexbrains commented on #181
Dear @remiadon Thank you for submission of your project! Your project seems ready to go! Welcome aboard! :hugs: 🎊

[2020-06-15 12:53] complexbrains commented on #109
Dear @manojneuro I shared the video channel link on the header of the Mattermost channel, so please check it and refer your participants at your channel to that link please. Once you are done that your project seems ready! Thank you very much for your submission. Welcome aboard! :hugs: 🎊

[2020-06-15 12:55] AndysWorth commented on #188
Video Chat: [https://meet.jit.si/BIDSCurationGUI](https://meet.jit.si/BIDSCurationGUI)

[2020-06-15 12:57] jhlegarreta commented on #193
@smoia the project requirements are complete. Ready to start hacking when the event starts ! Happy hacking :keyboard: !

[2020-06-15 12:57] complexbrains commented on #214
Dear @@sebastientourbier,  would you mind setting up a Mattermost channel and sharing here please. Also would you mind creating a video chat link and sharing it in your Mattermost channel only please. Once you are done with those, please give us a shout then we will finish with the revision of your project! Thank you :hugs:

[2020-06-15 13:00] complexbrains commented on #188
@AndysWorth  I removed the link for any unwanted interference! I saw you already shared it in your Mattermost channel. Then I will complete the revision. Thank you so much! Welcome aboard!

[2020-06-15 13:01] AndysWorth commented on #188
I put a password on the video chat.  So, do people just leave the chat up all of the time?

[2020-06-15 13:02] raamana commented on #171
Thanks Isil, see ya all tmrw.

[2020-06-15 13:02] complexbrains commented on #162
Thank you @matteomancini Then your project seems ready to go! Welcome aboard! :hugs: 🎊

[2020-06-15 13:03] smoia commented on #193
:tada: :tada: :tada:
@eurunuela @sangfrois @vinferrer Let's get ready!

[2020-06-15 13:07] complexbrains commented on #203
Sure @eduff I will complete the revision for you. Then all seems good with your project. Welcome aboard! :hugs: 🎊

[2020-06-15 13:12] complexbrains commented on #174
@@sina-mansour Thank you very much for your project submission. Your project looks ready. Welcome aboard! :hugs: 🎊

[2020-06-15 13:12] complexbrains commented on #177
Dear @civier  Thank you very much for your project submission. Your project looks ready. Welcome aboard! :hugs: 🎊

[2020-06-15 13:13] complexbrains commented on #204
Dear @civier Thank you very much for your project submission. Your project looks ready. Welcome aboard! :hugs: 🎊

[2020-06-15 13:15] complexbrains commented on #187
Dear @deep-introspection Thank you very much for your project submission. Your project looks ready. Welcome aboard! 🤗 🎊

[2020-06-15 13:16] complexbrains commented on #139
Dear @johalgermissen  Thank you very much for your project submission. Your project looks ready. Welcome aboard! 🤗 🎊

[2020-06-15 13:32] alexandreroutier commented on #166
Dear @complexbrains,

I just completed the checklist. I hope the content will suit you. Do not hesitate to tell me if anything is not clear :)

Alex

[2020-06-15 13:38] jdtournier commented on #202
Done. At least I think I've done this right...
https://mattermost.brainhack.org/brainhack/channels/hbmhack-mrpeek

[2020-06-15 13:56] complexbrains commented on #202
Thank you @jdtournier Your project seems ready to go! Welcome aboard! :hugs: 🎊

[2020-06-15 14:00] glatard commented on #194
Hi @complexbrains, thanks for catching this! The channel was public but the link was wrong: we had renamed the channel from `conp` to `hbmhack-conp` but the link with `hbmhack-conp` doesn't seem to work. I changed the link to `conp` now.

[2020-06-15 14:01] complexbrains commented on #166
Dear @alexandreroutier thank you so much for completing all those. Your project is ready to go! Welcome aboard! :hugs: 🎊

[2020-06-15 14:04] complexbrains commented on #194
Dear @glatard Thank you very much for letting us know. Your project looks ready to go! Please also do not forget to share the link to your video chat room in your Mattermost channel. Welcome aboard! :hugs: 🎊

[2020-06-15 14:06] complexbrains commented on #194
Oh, you already have done that! Thank you all set now! :hugs:

[2020-06-15 14:22] cmaumet commented on #202
Hi @jdtournier! Thanks a lot for your project. Unless I am mistaken, In think that your project co-lead (Daan Christiaens) is not registered yet to the event. Can you please ask them to register or list them as project collaborators if they are not joining the event? Thank you!

[2020-06-15 14:25] cmaumet commented on #194
Hey @glatard @jbpoline! Thanks a lot for your project. Unless I am mistaken, In think that you both are not registered yet to the event. Can you please register soon as possible? Thank you!

[2020-06-15 14:27] cmaumet commented on #193
Hi @vinferrer! Thanks a lot for your project. Unless I am mistaken, In think that your project co-lead (François Lespinasse) is not registered yet to the event. Can you please ask them to register or list them as project collaborators if they are not joining the event? Thank you!

[2020-06-15 14:29] sebastientourbier commented on #214
Hey cmaumet. Yes here is the information about when I registered:
[code]
Now I just completed the other registration form at the link you set a few days ago and I got the submission identifier `HACK2020-5614690`

[2020-06-15 14:29] dchristiaens commented on #202
I signed up this morning.

[2020-06-15 14:30] smoia commented on #193
Hey @cmaumet !
Is he not? I'm going to ask him!

[2020-06-15 14:30] sebastientourbier commented on #214
Doing that right now 👍

[2020-06-15 14:31] cmaumet commented on #188
Hi @margaretmahan! Thanks a lot for your project. Unless I am mistaken, In think that your are not registered yet to the event. Can you please register as soon as possible? Thank you!

[2020-06-15 14:33] smoia commented on #193
@cmaumet , @sangfrois told me he registered this morning?

[2020-06-15 14:34] cmaumet commented on #173
Hi @zuoxinian! Thanks a lot for your project. Unless I am mistaken, In think that your project co-leads (Yin-Shan Wang, Hao-Ming Dong, Chao Jiang) are not registered yet to the event. Can you please ask them to register or list them as project collaborators if they are not joining the event? Thank you!

[2020-06-15 14:36] #13 closed

[2020-06-15 14:36] #90 closed

[2020-06-15 14:37] sangfrois commented on #193
![image](https://user-images.githubusercontent.com/38385719/84670453-2721c800-aef4-11ea-9cf7-962aa61dffd0.png)

... sorry for late registration :)

[2020-06-15 14:37] cmaumet commented on #128
Hi @jcohenadad ! Unless I am mistaken, I think that your co-lead Jason Stockmann is still not registered to the event. Can you please ask them to register or list them as project collaborators if they are not joining the event? Thank you!

[2020-06-15 14:39] cmaumet commented on #109
@manojneuro: it looks like your project co-leads (Cameron T., Qihing Lu, Mihai Capota) are still not registered to the event. Can you please ask them to register or list them as project collaborators if they are not joining the event? Thank you!

[2020-06-15 14:41] jcohenadad commented on #128
hi, he has been informed

[2020-06-15 14:46] jaystock commented on #128
I registered for the Hackathon ($25 fee) but I do not know how to join the Shimming Toolbox project specifically.   Sorry for the confusion.

--- Jason

From: Julien Cohen-Adad <notifications@github.com>
Reply-To: ohbm/hackathon2020 <reply@reply.github.com>
Date: Monday, June 15, 2020 at 10:42 AM
To: ohbm/hackathon2020 <hackathon2020@noreply.github.com>
Cc: jaystock <jaystock@nmr.mgh.harvard.edu>,

[2020-06-15 14:55] sebastientourbier commented on #214
hi @ohbm/project-monitors: My project is ready!'

[2020-06-15 15:04] manojneuro commented on #109
@cmaumet I have made the change to project collaborators.

[2020-06-15 15:16] jastiso commented on #120
just added a jitsi channel, let me know if you need anything else :)

[2020-06-15 15:25] complexbrains commented on #120
Dear @jastiso thank you very much for that! As it seems your project is ready! Welcome aboard then! :hugs: 🎊

[2020-06-15 15:33] complexbrains commented on #214
Dear @sebastientourbier Thank you very much. As it seems your project is ready! So welcome aboard! :hugs: 🎊

[2020-06-15 15:34] jastiso commented on #120
great, thank you!!

[2020-06-15 15:34] cmaumet commented on #128
Oh @jaystock, thanks for that! All you need to do now to complete your registration now is to fill in the form [here](framaforms.org/registration-for-ohbm-brainhack-step-12-1589173979) to provide us with important additional info. Thank you!

[2020-06-15 15:35] cmaumet commented on #193
Oh @sangfrois, thanks for that! All you need to do now to complete your registration now is to fill in the form here to provide us with important additional info. Thank you!

[2020-06-15 15:36] cmaumet commented on #214
Thank you @sebastientourbier! All good now :D

[2020-06-15 15:37] cmaumet commented on #202
Thank you @dchristiaens! All good now :D

[2020-06-15 16:04] sebastientourbier commented on #214
Thanks @complexbrains @cmaumet

[2020-06-15 16:17] nqueder commented on #183
Hi @complexbrains !
My issue has been updated with two "good first issues" :)

[2020-06-15 16:20] complexbrains commented on #183
Dear @nqueder Thank you so much for doing it so! Your project seems ready to go then! Welcome aboard! :hugs: 🎊

[2020-06-15 16:20] ofgulban commented on #124
Hi @complexbrains , I have posted the video channel on my mattermost channel now. Thanks.

[2020-06-15 17:44] complexbrains commented on #124
Thank you @ofgulban! Everything looks ready to go! Then welcome aboard! :hugs: 🎊

[2020-06-15 18:12] jaystock commented on #128
﻿
Camille, sorry, that link you shared doesn’t seem to work for me…

From: Camille Maumet <notifications@github.com>
Reply-To: ohbm/hackathon2020 <reply@reply.github.com>
Date: Monday, June 15, 2020 at 11:35 AM
To: ohbm/hackathon2020 <hackathon2020@noreply.github.com>
Cc: jaystock <jaystock@nmr.mgh.harvard.edu>, Mention <mention@noreply.github.com>
Subject: Re: [ohbm/hackathon2020] shimming-toolbo

[2020-06-15 18:14] pradau commented on #153
Hi Saampras,
Thanks for your message, and sorry for the delay in responding. I’ve been trying to determine a feasible project with consumer hardware.

I would be happy to have you on the team regardless of hub, and I expect the organizers will not mind.

I’ll provide some more info on the Mattermost channel and the GitHub page today.

Perry

[2020-06-15 18:46] carolyog commented on #139
Hi @johalgermissen! I found your project very interesting and I'd like to take part. However, I belong to the Americas hub (UTC-3, São Paulo, Brazil more precisely). so I'll be attending the Americas hub Traintrack. Would it be a problem?
Thank you!

[2020-06-15 18:53] remiadon commented on #181
@jhlegarreta mattermost channel available here https://mattermost.brainhack.org/brainhack/channels/hbmhack-bids-prov

Thx

[2020-06-15 18:55] remiadon commented on #181
@cmaumet I could not connect to mattermost so I had to change my username to
remiadon1

Hope this does not break anything

[2020-06-15 19:00] jhlegarreta commented on #181
:ok_hand: Thanks. Happy hacking :keyboard: !

[2020-06-15 19:01] manojneuro commented on #109
@cmaumet here is the link to video of the project pitch: https://youtu.be/vFG9gGonuTg

Please update the Project description to cover all hubs.

[2020-06-15 19:29] matteomancini commented on #162
This is my twitter-size summary of my pitch (in a thread of three tweets):

There are so many great software package to do tractography. My initial goal with TRAMPOLINO was to create a tool to compare packages through  a common interface, to explore different algorithms and the influence of parameters. (1/3)

Right now, you can run a whole workflow or a subset of it for three popular tractography

[2020-06-15 19:40] manojneuro commented on #109
I have pinned the info on the mattermost channel.

[2020-06-15 20:11] glatard commented on #194
Hi @cmaumet, I registered on June 13th, is there anything wrong with my registration?

[2020-06-15 20:13] cmaumet commented on #194
I think the first form is missing: framaforms.org/registration-for-ohbm-brainhack-step-12-1589173979.

[2020-06-15 20:33] Remi-Gau commented on #181
added you in the project leaders channel

[2020-06-15 20:55] glatard commented on #194
ok, sorry, I submitted the form.

[2020-06-15 22:03] alecrimi commented on #84
@Lestropie @blezek
I am more a Dipy user, I don't know much of MRTRIX (and like me other people).
Moreover, also at least 50% of people uses TRK rather than TCK. I don't want to enter in the discussion opensource vs non-opensources, but more on what is useful-to/used-by people.

Do you think we can reverse engineer this and make a Python script TRK->PLY?
possible starting the merching cubes approa

[2020-06-15 23:13] Lestropie commented on #84
The PLY writer looks like it's got a reasonable amount of complexity to it. So you'd want to be in close contact with @blezek for multiple reasons.

The Marching Cubes algorithm is pretty well-established, I don't think there's anything novel about the relevant *MRtrix3* code in that context. So it may well be simpler to implement from first principles rather than trying to port from code from a d

[2020-06-15 23:25] alecrimi commented on #84
@matteomancini Hi Matteo, I just noticed you added the TCK->TRK conversion in your project, which is partially overlapping our pipeline. Despite I think the issue is already solved by Nipy, we should cross reference the projects

[2020-06-15 23:25] jbpoline commented on #194
So did I, and even paid :)

On Mon, Jun 15, 2020 at 4:56 PM Tristan Glatard <notifications@github.com>
wrote:

[2020-06-15 23:30] Lestropie commented on #195
Updated with video channel location; password to be shared via MatterMost

[2020-06-15 23:42] Lestropie commented on #195
Note regarding project tags: C / C++ knowledge is purely optional. Only one component of the project involves porting existing C++ code to Python; and in the absence of any other team members with the capability to devise such, I will be performing this decomposition myself and instead leaving more explicit step-wise instructions for team members.

[2020-06-16 00:11] mandana-mazaheri commented on #197
Dear Isil,
The link is added to our Mattermost channel, and here is this. However, we
do not know when to schadule that, now we set ot for 10 AM on tomorrow.
https://us04web.zoom.us/j/9674734069?pwd=Y001SEFJM0FMeG1Bd1VPaDM0dHg2UT09

On Mon, Jun 15, 2020 at 8:34 AM Isil Bilgin <notifications@github.com>
wrote:

[2020-06-16 00:40] annaholubecki2018 opened #221 "Installing Docker"
Hi,

I'm almost done setting up for tomorrow, but am having trouble installing Docker Toolbox. I am currently on step 6.

With this code:

`curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -`

I get the error:

gpg: can't connect to the agent: IPC connect call failed

Instead, after looking online, I used:

`wget https://download.docker.com/linux/ubuntu/gpg`

Which seemed

[2020-06-16 01:24] NiftyTorch commented on #85
Dear @complexbrains, thanks for the reminder 🙏 . I just recorded the video and upload to the channel and pinned it.

[2020-06-16 01:50] stebo85 commented on #177
Hi @civier,
This is a great project and very useful :) We are currently working on these problems for CVL where we use singularity containers build using neurodocker (https://github.com/CAIsr/caid) and I built transparent singularity that integrates these containers into the module system (https://github.com/CAIsr/transparent-singularity). Looking forward to the hackathon :)

Cheers
Steffen

[2020-06-16 02:05] #221 closed

[2020-06-16 02:56] derekbeaton commented on #149
Hi there,

I'm not at BrainHack this year (unfortunately) but will be OHBM. I have a bunch of data, code, and examples in R on PLS, CCA, and some additional related methods. Please feel free to use anything you want in either of these repos if you feel they might be helpful:

https://github.com/derekbeaton/GPLS

https://github.com/derekbeaton/GSVD/

If you have any questions please also feel free

[2020-06-16 05:08] LeonieBorne commented on #149
Hi @derekbeaton,
Thank you very much for sending these repos, that could be really useful for us indeed!
Too bad you're not at BrainHack this year :(

[2020-06-16 05:52] eduff commented on #203
Hi - sorry I added the video last night to the mattermost chat.

[2020-06-16 06:22] matteomancini commented on #84
@alecrimi for sure! I remember that at some point I tried a script (on GitHub Gist or something), that was actually working, but it was not part of something "official" (i.e. in a codebase) at the time.

[2020-06-16 06:24] kousu commented on #156
Hi @adswa, I'm working on managing these issues with @neuropoly, and this seems like a fascinating challenge, and also pretty accessible. Is it too late to get in on it?

[2020-06-16 06:31] adswa commented on #156
Not at all, we haven't even pitched. We'll be pitching in 1.5 hours in the EMEA hub. :)

[2020-06-16 06:44] complexbrains commented on #197
Dear @mandana-mazaheri thank you so much for adding that! Sorry for the late reply! Your project seems ready to go! Welcome aboard! 🤗 🎊

[2020-06-16 06:47] complexbrains commented on #85
Dear @NiftyTorch Thank you so much! Sorry for the late reply! As it seems your project seems ready to go! Welcome aboard! :hugs: 🎊

[2020-06-16 07:01] civier commented on #177
Proposed outputs of the VNM project (asterisks are for extensions that can serve @sbollmann_mri  CVL project extension):

1. Adding more recipes to neurodocker
    1.1 A list of things that will be useful
    1.2 Adding X new packages
    1.3 * Add options to generate stand-alone versions of applications to https://github.com/CAIsr/caid?

2. Graphical UI
    2.1 Choose tool (consult with @cnolan o

[2020-06-16 07:41] margaretmahan commented on #188
My apologies for the delay in registration. It should be all completed now.

Excited to get started!
Maggie

On Mon, Jun 15, 2020 at 9:31 AM Camille Maumet <notifications@github.com>
wrote:

[2020-06-16 09:56] ericearl commented on #210
@llevitis and @complexbrains the requested edits have been made.  Hopefully it is satisfactory.  Thank you!

[2020-06-16 10:45] sofievdbos commented on #64
@Remi-Gau

**Step 3**: I think it should be changed from:
- From `git clone https://github.com/_YOUR_GITHUB_USERNAME_/OHBM_hackathon2020.git`
- To `git clone https://github.com/_YOUR_GITHUB_USERNAME_/hackathon2020.git`

Cheers!

[2020-06-16 11:51] mandana-mazaheri commented on #197
Sounds perfect, thank you so much

On Tue., Jun. 16, 2020, 2:44 a.m. Isil Bilgin <notifications@github.com>
wrote:

[2020-06-16 12:02] zuoxinian commented on #173
thanks. will ask them to come to reg desk :) sorry for missing the first day discussion. too busy during daytime ...

[2020-06-16 12:05] zuoxinian commented on #173
Thanks for the assistance, and especially the video chanel part. It seems the mattermost did not work here but will try it again today_

[2020-06-16 12:08] zuoxinian commented on #173
Will work on this today to prepare for listed on the brainhack website. thanks!

[2020-06-16 14:02] jhlegarreta commented on #84
Sorry for the late reply @alecrimi. I see that Remis's [comment](https://github.com/ohbm/hackathon2020/issues/84#issuecomment-638105303) and [mine](https://github.com/ohbm/hackathon2020/issues/84#issuecomment-643801272) have been addressed. @cmaumet I assume participants were registered and the pitch was recorded and broadcasted. Moving the project revision to `Done`. Happy hacking !

[2020-06-16 14:52] Remi-Gau commented on #64
Good catch @sofievdbos

[2020-06-16 15:07] katjaq opened #243 "BrainWeb"
**BrainWeb. A permanent place for hacking together.**

**Team:**
Katja, Roberto, Anibal, Remi, Isil, Austin, Sofie
project lead: katja

**Timezone:**
UTC+2
(Paris, France)

**Hub:**
Europe, Middle East and Africa

**Description:**

In a team effort across continents, we recently created the [BrainWeb](https://brain-web.github.io), a permanent virtual space for online collaborations on projects rel

[2020-06-16 15:26] NiftyTorch commented on #85
Perfect. thank you.

[2020-06-16 15:40] sebastientourbier commented on #214
**Team**

Joan Rué Queralt, Sébastien Tourbier

**Goals for the OHBM Brainhack**

1. Creation of a sample BIDS dataset with EEG derivatives (computed inverse solutions):
  - [x] Decide a sample dataset (open-source) to use (ultimately with T1w, DWI, rfMRI, EEG modality)
     - Simple T1w/sEEG dataset: https://openneuro.org/datasets/ds002718/versions/1.0.2
     - Keep only one subject (sub-002)
  -

[2020-06-16 18:59] soniajoseph commented on #143
Hello, apologies for the late response. I have been having difficulties
creating a Mattermost channel (there is no confirmation email) but will
respond as soon as that gets sorted out.
ᐧ

On Mon, Jun 15, 2020 at 5:01 AM Isil Bilgin <notifications@github.com>
wrote:

--
Sonia Joseph
Computer Science
Computational Neuroscience
Princeton University
soniajoseph.github.io

[2020-06-16 19:20] tashrifbillah commented on #140
@JacobCWBillings , did you start working on it already?

[2020-06-16 19:37] tashrifbillah commented on #200
Interested to work on it, mattermost channel is not working for many of us now.

[2020-06-16 19:39] tashrifbillah commented on #192
Interested to work on it. Anyone giving an overview of it anytime soon?

[2020-06-16 19:41] tashrifbillah commented on #128
Interested to work on it!

[2020-06-16 19:44] djarecka commented on #192
please join us on the mattermost channel: https://mattermost.brainhack.org/brainhack/channels/nipype

the video are pinned to the channel.

 I'd also recommend going through the tutorial: https://github.com/nipype/pydra-tutorial and ask questions

[2020-06-16 19:47] po09i commented on #128
@tashrifbillah Awesome, here is the [mattermost channel](https://mattermost.brainhack.org/brainhack/channels/shimming-toolbox). Check the [kanban](https://github.com/shimming-toolbox/shimming-toolbox/projects/3) board for the todo list! If you have any question, feel free to ask on mattermost!

[2020-06-16 19:47] tashrifbillah commented on #192
mattermost channel isn't working for many of us right now. We reported it on the ongoing Crowdcast session.

[2020-06-16 19:47] tashrifbillah commented on #128
mattermost channel isn't working for many of us right now. We reported it to the ongoing Crowdcast session.

[2020-06-16 19:53] po09i commented on #128
Okay then this issue should be good enough until it is fixed. Which issue interests you the most?

[2020-06-16 20:01] djarecka commented on #192
sorry, you can also find me [here](https://meet.jit.si/pydra)

[2020-06-16 20:29] JacobCWBillings commented on #140
Hey. Does this email find Tashrif Billah?

On Tue, Jun 16, 2020 at 3:20 PM Tashrif Billah <notifications@github.com>
wrote:

[2020-06-16 20:43] tashrifbillah commented on #140
It does!

[2020-06-16 20:48] JacobCWBillings commented on #140
Right on! We did meet already, but feel free to jump onboard

-Jacob

On Tue, Jun 16, 2020, 16:44 Tashrif Billah <notifications@github.com> wrote:

[2020-06-16 21:12] tashrifbillah commented on #140
Can we chat on Zoom?

[2020-06-16 21:14] JacobCWBillings commented on #140
Sure

-Jacob

On Tue, Jun 16, 2020, 17:12 Tashrif Billah <notifications@github.com> wrote:

[2020-06-16 21:15] JacobCWBillings commented on #140
https://zoom.us/j/7147821059?pwd=WE5tZThtU2UwZ1U2WXBTUEdsN0pidz09

-Jacob

On Tue, Jun 16, 2020, 17:12 Tashrif Billah <notifications@github.com> wrote:

[2020-06-16 21:16] tashrifbillah commented on #140
Asks for a password :(

[2020-06-16 21:56] jhlegarreta commented on #201
They did it, so moving to the completed cards.

[2020-06-16 22:18] JacobCWBillings commented on #140
Okay, some good sample data. (I'll upload the metadata shortly):
https://www.dropbox.com/t/LLl37lq9vRHDcqEl

It's two numpy matrices in a struc. The number of time points, T, is
~13000. And the number of features,V (vertices), is 328.

inData are the TxV vector inputs, distdata is the distance matrix.
Distances are calculated as a function (weighted Jaccard) over the weighted
degree of connectivit

[2020-06-17 17:07] Arshitha commented on #143
Hey folks!
For the project wrap up session of day 3, could you write a small summary in this doc (https://docs.google.com/document/d/1YCXYu5eJ80Z5BvlG6QNzJyRbOB06ruDHabIs5VuBeEE/edit?usp=sharing ) of what you did and if you have further plans for the project?
And add your twitter handles so we can tag you as contributor when we will tweet about your project.
Happy hacking and many thanks from the

[2020-06-18 05:03] Lestropie commented on #195
Final outcomes of project are reported [here](https://github.com/MRtrix3/mrtrix3/issues/2075#issuecomment-645706411).

[2020-06-18 20:46] effigies commented on #192
Wrap-up slides: https://docs.google.com/presentation/d/1McEXF9VwSUhfQmQKcGk8OvVDoLygK5tpVUK-AGd7QBI

[2020-06-22 09:28] Liz-git commented on #153
Just summarised all my comments (and their related material) from the Mattermost channel :)

1. Of primary importance is to define the age of our target population. This will determine the parameters of the product.
2. We should ensure the product is gender neutral - these have the most evidence for enhancing cognition over gendered toys.
3. I think it's also of primary importance to determine the

[2020-06-24 01:50] shellewell commented on #153
Agree with @Liz-git 's points, and adding my thoughts below:
**1**: Knowing who our target population is in terms of age is really crucial to the direction of the research, software and product development. This should be solidified based on existing literature for that disorder.
**3**: Identifying a target disorder or illness is a key first direction. The high rates of comorbidity as mentioned be

[2020-06-28 02:07] saampras commented on #153
@Liz-git and @shellewell have covered most of the points that needed to be covered!! Some great references and links as well!!
Just adding on to that, here are some points I thought about and wanted to share:

Some of the important challenges that came to light through the discussions in mattermost are as follows:

1) **The possibility of stimulating cortical areas (prefrontal) as well as deeper r

[2020-07-02 18:16] yarikoptic commented on #177
FWIW, another point of "integration" between neurodocker and NeuroDebian is the `--ndfreeze` option in neurodocker to take advantage of https://github.com/neurodebian/neurodebian/blob/master/tools/nd_freeze which is shipped within any neurodebian based container or could be just `apt-get install neurodebian-freeze` 'ed.  This allows to make container images reproducible (as far as apt package mana

[2020-07-02 19:14] pwighton commented on #177
Re: OpenGL software implementation, @rudolphpienaar has made some progress getting FreeSurfer's FreeView running in a docker container: https://github.com/FNNDSC/pl-fshack/wiki/1.0-Running-freeview (but not sure if software rendering is supported)

[2020-07-03 06:35] civier commented on #177
Thank you @yarikoptic I will definitely look into it.
Oren

[2020-07-03 06:40] civier commented on #177
Thank you Paul. We will definitely try to get freeview working in VNM. Are you interested to contribute to our project? Check our main repository at github.com/NeuroDesk/vnm

[2020-07-03 10:45] stebo85 commented on #177
@civier Freeview is already working in VNM :)

[2020-07-03 11:03] civier commented on #177
I've just seen that you have an updated freesurfer.yaml in the master branch, but I'm still using 0.7.0
@kaczmarj, when do usually publish a new release of neurodocker? Are you doing any testing on each release, or simply release when enough updates have accomulated?

[2020-07-07 16:56] pwighton commented on #177
Very cool @civier and @stebo85!  Freeview isn't working for me, but I'll follow up in the main repo.